@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.container {
  position: relative;
}

.dropdown {
  //position: absolute;
  //z-index: 2;
  //top: 30px;
  //left: -50px;
  //
  //width: 410px;
  //background: $color-bg-dropdown;
  //border-bottom-left-radius: 12px;
  //border-bottom-right-radius: 12px;
}

.hidden {
  visibility: hidden;
}

.dropdownInner {
  padding: 0 10px 0 0;

  overflow-y: hidden;

  //height: 320px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}



