@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.container {
  //@include flex(row, center, normal, nowrap);
  position: relative;
}

.dropdown {
  position: absolute;
  z-index: 2;
  top: 0;

  padding: 20px 0 16px 0;

  width: 287px;

  background: $color-bg-dropdown;
  border: $border-form;
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
}

.dropdownInner {
  padding: 0 10px 0 0;

  overflow: auto;

  height: 320px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
