@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.pagination {
  margin: 0 auto;

  width: 336px;
  height: 54px;

  @include b('mobile') {
    max-width: 285px;
  }
  text-align: center;

  background-color: $color-bg-pagination;
  border: $border-pagination;
  border-radius: 20px;

  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;
  @include flex();

  &:hover {
    background-color: $color-bg-login-item-hover;
  }
}

.buttonsContainer {
  margin: auto;

  min-width: 264px;
  max-width: 300px;
  height: 38px;
}

button {
  padding: 0;

  font: inherit;

  color: inherit;
  background-color: transparent;
  border: none;
}

.button {
  margin: auto 1px;
  padding: 1px 0 0 2px;

  width: 34px;
  height: 38px;

  @include b('mobile') {
    width: 30px;
  }
  cursor: pointer;

  border-radius: 12px;
  opacity: 0.5;

  transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;

  &Dots {
    margin: auto 1px;
    padding: 1px;

    width: 34px;
    height: 38px;

    border-radius: 12px;
    opacity: 0.5;
  }
}

.button:hover {
  border: 2px solid #0197e2;
  opacity: 1;
}

.buttonActive {
  margin: auto 1px;
  padding: 1px;
  padding-left: 2px;

  width: 34px;
  height: 38px;

  cursor: pointer;

  background: $color-text-wc;
  border-radius: 12px;
}

.pagination:hover {
  border: 2px solid rgba(1, 151, 226, 0.5);
}
