@import '../../scss/theme';
@import '../../scss/mixins';

.container {
  max-width: 1100px;
  width: 100%;
  padding: 10px 20px 300px 20px;
}

.containerTitle {
  padding: 55px 0 0;
  @include flex(row, center, space-between, wrap);

  @include b('mobile') {
    padding: 30px 0 0;
  }

  &Block {
    cursor: default;
    width: max-content;

    h1 {
      margin: 0 0 15px 0;
      font-size: 45px;
      font-weight: normal;
    }

    span {
      font-weight: normal;
      font-size: 24px;
      color: $color-text-span;
      cursor: pointer;

      @include b('tablet') {
        font-size: 2.5vw;
      }

      @include b('mobile') {
        font-size: 3.5vw;
      }
    }

    svg {
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

.account {
  &Menu {
    //@include flex(row, center, space-between, nowrap);
    @include grid(1.2fr 2fr, 1fr, 0px);
    font-size: 16px;
    max-width: 200px;
    width: 100%;

    @include b('mobile') {
      margin: 40px 0 0 0;
    }

    a {
      padding-bottom: 15px;
      border-bottom: 2px solid $color-border-account-menu-item;
      width: 100%;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    &Item {
      color: $color-text-primary;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.4s ease;

      &:hover {
        opacity: 0.8;
        border-bottom-color: #4a519d;
      }
    }

    &Active {
      text-shadow: 0 0 1px $color-text-link, 0 0 1px $color-text-link !important;
      opacity: 1 !important;
      color: $color-text-link;
    }
  }

  &Funds {
    @include grid(1fr 1fr, 1fr, 20px);
    margin-top: 50px;

    @include b('mobile') {
      @include grid(1fr, 1fr, 20px);
    }

    &Card {
      background-color: #0197e241;
      border-radius: 10px;
      min-height: 200px;
      width: 100%;
      padding: 30px 20px;
      position: relative;
      cursor: default;
      margin-bottom: 10px;
      cursor: pointer;

      h3 {
        font-weight: normal;
        font-size: 20px;
        color: $color-text-primary;
        margin: 0;
        opacity: 0.5;
      }

      span {
        font-weight: bold;
        font-size: 40px;
        color: $color-text-primary;
      }

      img {
        position: absolute;
        bottom: 30px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-filter: grayscale(0.9) brightness(0.9);
        filter: grayscale(0.9) brightness(0.9);
        opacity: 0.8;
      }
    }

    &Deposit {
      @include flex(column, normal, normal, nowrap);
      cursor: default;

      h3 {
        font-weight: normal;
        font-size: 20px;
        color: $color-text-primary;
        margin: 0;
        opacity: 0.3;
      }

      &Copy {
        margin-top: 5px;
        @include flex(row, center, normal, nowrap);

        span {
          background-color: #0197e2;
          padding: 10px;
          border-radius: 12px;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: $color-text-primary;
          cursor: default;
        }

        img {
          margin-left: 10px;
          cursor: pointer;
          transition: 0.4s ease;

          &:hover {
            opacity: 0.7;
          }

          &:active,
          &:focus {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  &Trade {
    &History {
      width: 100%;
    }

    table {
      border-collapse: collapse;

      thead {
        th {
          font-weight: normal;
          padding-left: 10px;
          text-align: left;
          text-transform: uppercase;
          cursor: default;

          &:first-child {
            cursor: pointer;
          }
          @include b('mobile') {
            &:last-child {
              text-align: right;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            td {
              background: #30335533;
            }
          }

          td {
            color: $color-text-primary;
            padding-left: 10px;
            padding: 12px 0 12px 10px;
            @include b('mobile') {
              height: 60px;
              text-transform: uppercase;
              padding: 5px 0 5px 10px;
              margin-bottom: 130px;
            }

            &:first-child {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }

            &:last-child {
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              color: #01c9c5;
              @include b('mobile') {
                @include flex(row, normal, flex-end);
                color: white;
                background-color: initial;
                padding: 0;
              }

              img {
                margin-right: 10px;
                width: 14px;
                height: 15px;
                @include b('mobile') {
                  width: 14px;
                  height: 15px;
                }
              }
            }
          }
        }
      }
    }

    &Table {
      width: 100%;

      &Active {
        color: $color-text-link;
        text-shadow: 0 0 1px $color-text-link, 0 0 1px $color-text-link !important;
        opacity: 1 !important;
      }

      &Down {
        color: red !important;

        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.paginationContainer {
  margin-top: 50px;
}

.flexContainer {
  &Row {
    @include flex(row, normal, flex-end, nowrap);
  }
  &Column {
    @include flex(column);
  }
}

.mobile {
  &Container{
    height: 180px;
    width: 100%;
    padding: 20px;
    background: #30335533;
    border-radius: 10px;
    margin: 0 9px 6px 0;
    @include flex(column);
  }

  &ColumnTitle {
    font-size: 13px;
    width: 108px;
    opacity: 0.5;
  }

  &Pair {
    text-align: left;
    font-size: 19px;
  }

  &Time {
    @include flex(row, normal, space-between);
    margin-bottom: 8px;
  }

  &AmountPrice {
    @include flex(row, normal, space-between);
  }

  &PriceChangeModel {
    color: #01c9c5;
    &Down {
      color: red;
      background: initial !important;

      img {
        transform: rotate(180deg);
      }
    }
  }
}

.time {
  color: #0197e2;
  margin-left: 4px;
}

.arrowSort {
  padding-left: 4px;
  transition: transform 0.3s;

  &Up {
    margin-left: 4px;
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
}

.tokenImage {
  &Maker {
    height: 28px !important;
    width: 28px !important;
    background-color: rgba(255, 255, 255, 0.15);
    margin-bottom: -8px !important;
    border-radius: 50%;
  }

  &Taker {
    height: 28px !important;
    width: 28px !important;
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: -8px !important;
    margin-right: 8px !important;
    margin-bottom: -8px !important;
    border-radius: 50%;
    @include b('mobile') {
      margin-left: -16px !important;
    }
  }
}
