@import '../../scss/theme';
@import '../../scss/mixins';

.container {
  padding: 120px 20px 300px 20px;

  width: 100%;
  max-width: 1100px;
}

.wrapper {
  position: relative;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-image: url('../../assets/images/bg-bottom.svg');
  //background-image: url('../../assets/images/bg-with-shadow.png');
  background-repeat: no-repeat;
  background-position: bottom;
  //background-size: cover;
  @include flex(row, flex-start, center, nowrap);
}

.containerTitle {
  //padding: 55px 0 0;
  @include flex(row, center, space-between, wrap);

  @include b('mobile') {
    @include flex(column, center, center, nowrap);
    padding: 30px 0 0;
  }

  &Block {
    width: max-content;

    cursor: default;

    h1 {
      margin: 0 0 15px 0;

      font-size: 45px;
      font-weight: normal;
      @include b('mobile') {
        font-size: 26px;
      }
    }

    span {
      font-size: 24px;
      @include b('mobile') {
        font-size: 18px;
      }
      font-weight: normal;

      cursor: pointer;

      color: $color-text-span;

      //@include b('tablet') {
      //  font-size: 2.5vw;
      //}
      //
      //@include b('mobile') {
      //  font-size: 3.5vw;
      //}
    }

    svg {
      margin: 0 10px;

      cursor: pointer;
    }
  }
}

.account {
  &Menu {
    //@include flex(row, center, space-between, nowrap);
    @include grid(1.2fr 2fr, 1fr, 0);
    width: 100%;
    max-width: 200px;

    font-size: 16px;

    @include b('mobile') {
      margin: 40px 0 0 0;
    }

    a {
      padding-bottom: 15px;

      width: 100%;

      //border-bottom: 2px solid $color-text-link;
      border-bottom: 2px solid $color-border-account-menu-item;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    &Item {
      cursor: pointer;

      color: $color-text-primary;
      opacity: 0.5;

      transition: 0.4s ease;

      &:hover {
        border-bottom-color: #4a519d;
        opacity: 0.8;
      }

      &Active {
        text-shadow: 0 0 1px $color-text-link, 0 0 1px $color-text-link !important;

        color: $color-text-link;
        border-bottom: 2px solid $color-text-link !important;
        opacity: 1 !important;

        a {
          font-weight: 900;
        }
      }
    }
  }

  &Wrapper {
    margin-top: 50px;
    @include flex(row, normal, space-between);
  }

  &Tiers {
    margin-top: 35px;

    &Card {
      position: relative;

      padding: 15px 0 13px 60px;

      width: 100%;
      height: 138px;

      color: white;
      border-radius: 10px;

      &Active {
        background: $color-bg-card;
        //background: rgba($color-bg-radio-point, 0.1);
      }

      &Circle {
        position: absolute;
        top: 15px;
        left: 15px;

        width: 24px;
        height: 24px;

        border: 3px solid $color-bg-radio-point;
        border-radius: 50%;
        @include flex(row, center, center);

        img {
          margin-right: -1px;
        }

        &Active {
          background: $color-bg-radio-point;
        }
      }

      &Line {
        position: absolute;
        top: 44px;
        left: 26px;

        width: 3px;
        height: 109px;

        background: $color-bg-radio-point;
        border-radius: 50px;

      }

      &Title {
        @include flex(row, center);

        span {
          display: block;

          font-size: 20px;
          line-height: 31px;
        }

        &Tooltip {
          margin-left: 9px;
          padding: 0 6px;

          font-size: 14px;
          font-weight: 500;
          line-height: 26px;

          background: $color-text-wc;
          //background: $color-bg-radio-point;
          border-radius: 12px;
        }
      }

      &Amount {
        font-size: 24px;
        line-height: 38px;

        color: $color-text-span;
      }

      &Text {
        font-size: 16px;
        line-height: 25px;
      }

      & + & {
        margin-top: 5px;
      }
    }

    &Address {
      &Title {
        margin-bottom: 5px;

        font-size: 20px;
        line-height: 31px;

        color: $color-chart-line-vertical;
      }

      &Copy {
        @include flex(row, center, space-between);
        cursor: pointer;

        &Btn {
          padding: 8px 17.5px;

          overflow: hidden;

          max-width: 90%;

          font-size: 14px;
          font-weight: 500;
          line-height: 26px;
          white-space: nowrap;
          text-overflow: ellipsis;

          background: $color-text-wc;
          border-radius: 12px;

          transition: all 250ms ease-in-out;

          &:hover {
            font-weight: 700;

            box-shadow: 0 0 7px 3px rgba(1, 151, 226, 0.6);
          }
        }
      }
    }

    &Wrapper {
      width: 100%;
      max-width: 310px;
    }
  }

  &Funds {
    width: 100%;
    max-width: 500px;

    &Card {
      position: relative;

      padding: 30px 20px;

      display: block;

      width: 100%;
      min-height: 200px;

      cursor: pointer;

      background: $color-bg-card;
      border-radius: 10px;

      transition: all 250ms ease-in-out;

      &:hover {
        box-shadow: 0 -4px 15px 2px rgba(255, 255, 255, 0.35);
      }

      & + & {
        margin-top: 50px;
      }

      h3 {
        margin: 0;

        font-size: 20px;
        font-weight: normal;

        color: $color-text-primary;
      }

      span {
        font-size: 40px;
        font-weight: bold;

        color: $color-text-primary;
      }

      img {
        position: absolute;
        top: 30px;
        right: 20px;

        width: 50px;
        height: 50px;

        border-radius: 50%;
        //-webkit-filter: grayscale(0.9) brightness(0.9);
        //filter: grayscale(0.9) brightness(0.9);
      }
    }

    &Deposit {
      @include flex(column, normal, normal, nowrap);
      cursor: default;

      h3 {
        margin: 0;

        font-size: 20px;
        font-weight: normal;

        color: $color-text-primary;
        opacity: 0.3;
      }

      &Copy {
        margin-top: 5px;
        @include flex(row, center, normal, nowrap);

        span {
          padding: 10px;

          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.04em;
          text-transform: uppercase;

          cursor: default;

          color: $color-text-primary;
          background-color: #0197e2;
          border-radius: 12px;
        }

        img {
          margin-left: 10px;

          cursor: pointer;

          transition: 0.4s ease;

          &:hover {
            opacity: 0.7;
          }

          &:active,
          &:focus {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  &Trade {
    &History {
      width: 100%;
    }

    table {
      border-collapse: collapse;

      thead {
        th {
          padding-left: 10px;

          font-weight: normal;
          text-align: left;
          text-transform: uppercase;

          cursor: default;

          &:first-child {
            cursor: pointer;
          }

          @include b('mobile') {
            &:last-child {
              text-align: right;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background: #30335533;
          }

          td {
            padding: 12px 0 12px 10px;
            padding-left: 10px;

            color: $color-text-primary;
            @include b('mobile') {
              margin-bottom: 130px;
              padding: 5px 0 5px 10px;

              width: 100%;
              height: 60px;

              text-transform: uppercase;
            }

            &:first-child {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }

            &:nth-child(3) {
              min-width: 200px;
            }

            &:last-child {
              color: #01c9c5;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              @include b('mobile') {
                @include flex(row, normal, flex-end);
                padding: 0;

                color: white;
                background-color: initial;
              }

              img {
                margin-right: 10px;

                width: 14px;
                height: 15px;
                @include b('mobile') {
                  margin-right: 5px;

                  width: 14px;
                  height: 15px;
                }
              }
            }
          }
        }
      }
    }

    &Table {
      width: 100%;

      &Active {
        text-shadow: 0 0 1px $color-text-link, 0 0 1px $color-text-link !important;

        color: $color-text-link;
        opacity: 1 !important;
      }

      &Down {
        color: red !important;

        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.paginationContainer {
  margin-top: 50px;
}

.flexContainer {
  &Row {
    @include flex(row, normal, flex-end, nowrap);
  }

  &Column {
    @include flex(column);
  }
}

.mobile {
  &Container {
    margin: 0 9px 6px 0;
    padding: 20px;

    width: 100%;
    height: 100%;

    border-radius: 10px;
  }

  &ColumnTitle {
    width: 108px;

    font-size: 13px;

    opacity: 0.5;
  }

  &Pair {
    font-size: 19px;
    text-align: left;
  }

  &Time {
    @include flex(row, normal, space-between, nowrap);
    padding: 12px 0 8px 0;

    width: 100%;
  }

  &AmountPrice {
    @include flex(row, normal, space-between);

    @include b('mobile') {
      text-align: left;
    }
  }

  &PriceChangeModel {
    color: #01c9c5;

    &Down {
      color: red;
      background: initial !important;

      img {
        transform: rotate(180deg);
      }
    }
  }
}

.time {
  margin-left: 4px;

  color: #0197e2;
}

.arrowSort {
  padding-left: 4px;

  transition: transform 0.3s;

  &Up {
    margin-left: 4px;

    transition: transform 0.3s;
    transform: rotate(180deg);
  }
}

.tokenImage {
  &Maker {
    margin-bottom: -8px !important;

    width: 28px !important;
    height: 28px !important;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
  }

  &Taker {
    margin-right: 8px !important;
    margin-bottom: -8px !important;
    margin-left: -8px !important;

    width: 28px !important;
    height: 28px !important;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    @include b('mobile') {
      margin-left: -16px !important;
    }
  }
}
