@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.button {
  @include flex(row, center, center);
  padding: 16px 60px;
  background: $color-bg-button-primary;
  border-radius: 12px;
  text-transform: uppercase;
  color: $color-text-primary;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  transition: transform 0.2s ease;

  &:hover {
    background: $color-bg-button-primary-hover !important;
    //transform: scale(1.02);
    //transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1);
  }

  &:active,
  &:focus {
    background: $color-bg-button-primary-hover !important;
    transform: scale(1.05);
    transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1);
  }
}

.primary {
  background: $color-bg-button-primary !important;

  &:hover {
    background: $color-bg-button-primary-hover !important;
  }
}

.secondary {
  background: $color-bg-button-secondary !important;

  &:hover {
    background: $color-bg-button-secondary-hover !important;
  }
}

.normal {
  background: $color-bg-button-normal !important;
  color: $color-text-button-normal !important;

  &:hover {
    background: $color-bg-button-normal !important;
  }
}
