@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.button {
  @include flex(row, center, center);
  padding: 16px 60px;

  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;

  cursor: pointer;

  color: $color-text-primary;
  background: $color-bg-button-primary;
  border-radius: 12px;
  outline: none;

  transition: transform 0.2s ease;

  &:hover {
    font-weight: 700;
    box-shadow: 0 0 7px 3px rgba(1, 151, 226, 0.6);
    //background: $color-bg-button-primary-hover !important;
    //transform: scale(1.02);
    //transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1);
  }

  &:active,
  &:focus {
    background: $color-bg-button-primary-hover !important;

    transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1);
    transform: scale(1.05);
  }
}

.primary {
  background: $color-bg-button-primary !important;

  &:hover {
    background: $color-bg-button-primary-hover !important;
  }
}

.secondary {
  background: $color-bg-button-secondary !important;

  &:hover {
    background: $color-bg-button-secondary-hover !important;
  }
}

.normal {
  color: $color-text-button-normal !important;
  background: $color-bg-button-normal !important;

  &:hover {
    background: $color-bg-button-normal !important;
  }
}

.disabled {
  filter: opacity(0.7) grayscale(1);

  cursor: default;
}
