@import '../../scss/theme';
@import '../../scss/mixins';

.container {
  max-width: 1100px;
  width: 100%;
  padding: 10px;
}

.containerTitle {
  padding: 55px 0 0;

  @include b('mobile') {
    padding: 30px 0 0;
  }

  h1 {
    margin: 0 0 15px 0;
    font-size: 45px;
    font-weight: normal;
  }

  span {
    font-weight: normal;
    font-size: 22px;
    color: $color-text-primary;
    opacity: 0.5;
  }
}

.login {
  &_methods {
    @include flex(row, normal, center, wrap);
    margin: 50px -10px 0 -10px;

    &_item {
      display: grid;
      grid-template-columns: 120px 1fr;
      align-items: center;
      box-sizing: border-box;
      max-width: 320px;
      width: 100%;
      margin: 10px;
      min-height: 150px;
      border: 2px solid $color-border-login-item;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;

      @include b('mobile') {
        max-width: 100%;
        min-height: 100px;
      }

      &:hover {
        background-color: $color-bg-login-item-hover;
      }

      &:active,
      &:focus {
        transform: scale(0.98);
      }

      img {
        max-width: 75px;
        margin: 0 auto;
      }

      span {
        font-weight: normal;
        font-size: 20px;
        color: $color-text-primary;
      }
    }
  }
}
