@import '../../scss/theme';
@import '../../scss/mixins';

.wrapper {
  position: relative;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-image: url('../../assets/images/bg-bottom.svg');
  //background-image: url('../../assets/images/bg-with-shadow.png');
  background-repeat: no-repeat;
  background-position: bottom;
  //background-size: cover;
  @include flex(row, center, center, nowrap);

  .container {
    padding: 100px 10px 170px;

    width: 100%;
    max-width: 1100px;
  }
}

.containerTitle {
  padding: 55px 0 0;

  text-align: center;

  @include b('mobile') {
    padding: 30px 0 0;
  }

  h1 {
    margin: 0 0 15px 0;

    font-size: 45px;
    @include b('mobile') {
      font-size: 26px;
    }
    font-weight: normal;
  }

  strong {
    font-weight: 400;

    color: $color-text-link;
  }

  span {
    font-size: 22px;
    @include b('mobile') {
      font-size: 18px;
    }
    font-weight: normal;

    color: $color-text-primary;
    opacity: 0.5;
  }
}

.login {
  &_methods {
    @include flex(column, center, center, nowrap);
    margin: 50px -10px 0 -10px;

    &_item {
      margin: 10px;

      display: grid;
      align-items: center;

      box-sizing: border-box;
      width: 100%;
      max-width: 360px;
      min-height: 72px;

      cursor: pointer;

      border: 2px solid $color-border-login-item;

      border-radius: 10px;

      transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;
      grid-template-columns: 120px 1fr;

      @include b('mobile') {
        max-width: 280px;
      }

      &:hover {
        background: $color-bg-card;
      }

      &:active,
      &:focus {
        transform: scale(0.98);
      }

      img {
        margin: 0 auto;

        max-width: 43px;
      }

      span {
        font-size: 20px;
        font-weight: normal;

        color: $color-text-primary;
      }
    }
  }
}
