@import '../../scss/theme';
@import '../../scss/mixins';

.container {
  padding: 10px;

  width: 100%;
  max-width: 1100px;
}

.containerTitle {
  padding: 55px 0 0;

  @include b('mobile') {
    padding: 30px 0 0;
  }

  h1 {
    margin: 0 0 15px 0;

    font-size: 45px;
    font-weight: normal;
  }

  span {
    font-size: 22px;
    font-weight: normal;

    color: $color-text-primary;
    opacity: 0.5;
  }
}

.login {
  &_methods {
    @include flex(row, normal, center, wrap);
    margin: 50px -10px 0 -10px;

    &_item {
      margin: 10px;

      display: grid;
      align-items: center;

      box-sizing: border-box;
      width: 100%;
      max-width: 320px;
      min-height: 150px;

      cursor: pointer;

      border: 2px solid $color-border-login-item;
      border-radius: 10px;

      transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;
      grid-template-columns: 120px 1fr;

      @include b('mobile') {
        max-width: 100%;
        min-height: 100px;
      }

      &:hover {
        background-color: $color-bg-login-item-hover;
      }

      &:active,
      &:focus {
        transform: scale(0.98);
      }

      img {
        margin: 0 auto;

        max-width: 75px;
      }

      span {
        font-size: 20px;
        font-weight: normal;

        color: $color-text-primary;
      }
    }
  }
}
