@import '../../scss/theme';
@import '../../scss/mixins';

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-image: url('../../assets/images/bg-with-shadow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include b('tablet') {
    background-size: cover;
  }
  @include flex(row, center, center, nowrap);

  &Cover {
    background-size: cover;
  }
}

.container {
  padding: 10px 10px 200px 10px;

  width: 100%;
  max-width: 1100px;
}

.containerTitle {
  padding: 120px 0 0;

  h1 {
    margin: 16px auto 40px;

    max-width: 800px;

    text-align: center;
  }
}

.containerSearch {
  margin: 40px 0 60px 0;
  @include b('mobile') {
    margin: 40px 0 40px 0;
  }
}

.containerButtons {
  @include flex(row, normal, space-between, wrap);
  margin: 50px -10px 0 -10px;
  @include b('mobile') {
    margin-top: 10px;
  }

  &Item {
    @include flex(row, center, center, nowrap);
    margin: 10px;

    box-sizing: border-box;
    width: 100%;
    max-width: 48%;
    min-height: 90px;

    cursor: pointer;

    border: 2px solid $color-border-login-item;
    border-radius: 10px;

    transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;
    @include b('mobile') {
      margin-bottom: 5px;

      min-height: 60px;
      @include flex(row, center, flex-start, nowrap);
    }

    @include b('tablet') {
      max-width: 100%;
    }

    &:hover {
      background-color: $color-bg-login-item-hover;
    }

    &:active,
    &:focus {
      transform: scale(0.98);
    }

    img {
      margin-right: 15px;

      max-width: 40px;
      @include b('mobile') {
        margin-left: 20px;
      }
    }

    span {
      font-size: 20px;
      font-weight: normal;

      color: $color-text-primary;
    }
  }
}

table {
  width: 100%;

  border-collapse: collapse;

  thead {
    th {
      padding-left: 10px;

      font-weight: normal;
      text-align: left;
      text-transform: uppercase;

      opacity: 0.5;
    }
  }

  tbody {
    tr {
      max-height: 60px;

      &:nth-child(odd) {
        td {
          background: #30335533;
        }
      }

      td {
        padding: 12px 0 12px 10px;
        padding-left: 10px;

        max-height: 60px;

        color: $color-text-primary;
        @include b('mobile') {
          padding: 5px 0 5px 10px;

          text-transform: uppercase;
        }

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          color: #01c9c5;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          @include b('mobile') {
            @include flex(column, normal, flex-end);
          }

          img {
            margin-right: 10px;

            width: 14px;
            height: 15px;
            @include b('mobile') {
              margin-top: 4px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}

.chart {
  &Container {
    max-height: 50px;

    background-color: transparent;
  }

  &Svg {
    background-color: transparent;
  }
}

.priceChange {
  @include flex(row, normal, normal, nowrap);
  margin-right: 0;

  text-transform: uppercase;
}

.priceChangeModel {
  background: initial !important;
}

.priceChangeUp {
  color: #01c9c5;
}

.paginationContainer {
  margin-top: 50px;
}

.flexContainer {
  &Row {
    @include flex(row, normal, flex-end, nowrap);
  }
}

.mobile {
  &Symbol {
    font-size: 14px;

    opacity: 0.5;
  }

  &Price {
    text-align: right;

    color: white;
  }

  &PriceChangeModel {
    text-align: right;

    background: initial !important;
  }

  &PriceAndChangeContainer {
    padding-right: 20px;
  }
}

.arrowSort {
  margin-left: 2px;

  &Up {
    margin-left: 2px;

    transform: rotate(180deg);
  }
}

.ExploreLoader {
  margin-top: 120px;
}
