@import '../../../../scss/theme';
@import '../../../../scss/mixins';

.tooltipValue {
  font-size: 18px;
  max-width: 250px;
  overflow-wrap: anywhere;
}

@include b('mobile') {
  .tooltipValue {
    max-width: 200px;
  }
}
