@import '../../../scss/theme';
@import '../../../scss/mixins';

.container {
  width: 100%;
  padding: 40px 30px 300px 30px;

  @include b('mobile') {
    padding: 40px 10px 300px 10px;
  }
}

.CustomAddress {
  border: $border-form;
  border-radius: 20px;
  grid-column: 1 / 4;
  position: relative;
  &Title {
    color: $color-bg-checkbox;
    background: #07092a;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    line-height: 25px;
    padding: 0 5px;
    z-index: 2;
  }
  &Input {
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
    input {
      padding: 0 10px;
      text-align: center;
      height: 100%;
    }
  }
}

.containerTitle {
  @include flex(row, normal, space-between);
  width: 100%;

  @include b('mobile') {
    @include flex(column);
    padding: 0 10px;
  }

  &First {
    @include flex(column);
  }

  &Second {
    @include flex(column, normal, flex-end);

    &Inner {
      @include flex(row, normal, space-between);
      margin: 24px 0 0 0;
      border-bottom: $border-tab;

      @include b('mobile') {
        display: block;
      }

      div:first-child {
        padding: 10px 13px 10px 0px;
      }

      div {
        padding: 10px 13px 10px 13px;

        @include b('mobile') {
          float: left;
        }
      }

      div:last-child {
        padding: 10px 0px 10px 13px;

        @include b('mobile') {
          float: right;
        }
      }
    }

    &Item {
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: $color-text-secondary;
      cursor: pointer;
      transition: color 200ms ease;

      &:hover {
        color: $color-text-link;
        transition: color 200ms ease;
      }
    }

    &ItemActive {
      font-size: 16px;
      line-height: 25px;
      font-weight: 700;
      color: $color-text-link;
      padding: 10px 26px 10px 0px;
      cursor: pointer;
    }
  }

  &Name {
    color: $color-text-link;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
  }

  &Price {
    margin: -7px 0 0 0;
    font-size: 50px;
    line-height: 78px;
    font-weight: 400;
  }

  &PriceChange {
    margin: -13px 0 0 0;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;

    &[data-positive='true'] {
      margin: -13px 0 0 0;
      color: $color-text-green;
      font-size: 20px;
      line-height: 31px;
      font-weight: 400;
    }

    &[data-negative='true'] {
      margin: -13px 0 0 0;
      color: $color-text-red;
      font-size: 20px;
      line-height: 31px;
      font-weight: 400;
    }
  }
}

.containerTrading {
  @include grid(1fr 44px 1fr, 1fr 55px 58px, 28px);
  width: 100%;
  margin: 47px 0 0 0;

  @include b('870') {
    @include grid(repeat(1, 1fr), auto, 0px);
  }

  &CardLimitOpen {
    max-height: 205px;
  }

  &Card {
    border: $border-form;
    border-radius: 20px;
    position: relative;

    &Inner {
      @include flex(row, normal, normal, nowrap);
      position: relative;
      flex-basis: 450px;
      padding: 40px 25px 25px 25px;
    }

    &Limit {
      margin: -15px 25px 25px 25px;
      padding: 10px;
      border-radius: 10px;
      background-color: #131637;

      &Inner {
        @include grid(1fr 2fr, 1fr, 20px);
        margin: 5px;
      }

      &Label {
        @include flex(row, center);
        color: $color-text-link;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
      }

      &Input {
        position: relative;

        label {
          @include flex(row, center);
          position: absolute;
          right: 10px;
          color: $color-text-secondary;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          height: 100%;
        }

        input {
          height: $height-input-small;
          outline: none;
          background-color: $color-bg-select-item;
          padding: 10px 10px;
          font-weight: 500;
          font-size: 22px;
          line-height: 34px;
          border: none;
          border-radius: 4px;
          caret-color: $color-cursor-input;
          color: $color-text-input;
          width: 100%;
          &::placeholder {
            color: $color-text-input-placeholder;
          }
        }
      }
    }

    &Label {
      position: absolute;
      padding: 0 5px;
      top: -14px;
      left: 20px;
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;
      background: $color-bg;
      color: $color-text-link;
    }

    &Image {
      img {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: $color-bg-image;
      }
    }

    &Container {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 6px 0 0 20px;
    }

    &ContainerInner {
      @include flex(row, center, space-between);
      width: 100%;
    }

    &Label {
      @include flex(row, center, normal);
    }

    &Search {
      @include flex(row, center, normal);

      &Name {
        font-size: 20px;
        line-height: 31px;
        font-weight: 500;
        color: $color-text-link;
        cursor: pointer;
      }

      &ArrowDown {
        margin: 0 0 0 10px;
        fill: white;
      }
    }

    &SearchInput {
      padding: 0 10px;
    }

    &SearchItems {
      height: 280px;
      overflow: auto;
      margin: 10px 0 0 0;
      padding: 0px 10px;
    }

    &SearchItem {
      @include grid(36px 150px 1fr, 36px, 0);
      padding: 14px 10px;
      border-radius: 12px;
      cursor: pointer;
      width: 100%;
      background: $color-bg-dropdown-item;
      margin: 1px 0;

      &:hover {
        background: $color-bg-dropdown;
      }

      &Image {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2);
      }

      &First {
        @include flex(column, normal, center, nowrap);
        margin: 0px 13px 0 13px;
      }

      &Name {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: $color-text-link;
      }

      &Price {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: $color-text-secondary;
        margin: -5px 0 0 0;
      }

      &Symbol {
        @include flex(row, center, flex-end);
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: $color-text-secondary;
      }
    }

    &Symbol {
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: $color-text-secondary;
    }

    &Input {
      margin: 6px 0 0 0;
      input {
        height: $height-input-small;
        outline: none;
        background-color: $color-bg-input-small;
        padding: 10px 20px;
        font-size: 30px;
        line-height: 47px;
        border: none;
        border-radius: 4px;
        caret-color: $color-cursor-input;
        color: $color-text-input;
        width: 100%;
        &::placeholder {
          color: $color-text-input-placeholder;
        }
      }
    }

    &Balance {
      margin: 11px 0 0 0;
      text-align: right;
      font-size: 16px;
      line-height: 1.1;
      font-weight: 400;
      color: $color-text-secondary;

      span {
        margin: 0 0 0 11px;
        font-weight: 600;
        color: $color-text-link;
      }
    }
  }

  &Divider {
    @include flex(row, center, center);

    @include b('870') {
      @include flex(row, center, flex-end);
      margin: -12px 0;
    }

    &Inner {
      @include flex(row, center, center);
      cursor: pointer;
      width: 44px;
      height: 44px;
      border: $border-form;
      border-radius: 50%;
      background: $color-bg;
      z-index: 2;
      user-select: none;
    }
  }

  &Button {
    @include flex(row, center, center);
    grid-column: 1 / 4;

    @include b('870') {
      margin: 30px 0 0 0;
      grid-column: auto;
      grid-row: auto;
    }
  }
}

.containerChart {
  position: relative;
  margin: 30px 0 0 0;
  width: 100%;
  background-color: $color-bg-chart;
  border-radius: 10px;
}

.chart {
  width: 100%;
  height: 254px;
}

.chartWithoutData {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
}

.chartData {
  @include flex(row, center, space-between);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px 13px 20px;

  &PriceName {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: $color-text-secondary;
    text-transform: uppercase;
  }

  &Price {
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
  }

  &Period {
    @include grid(1fr 1fr 1fr, 25px, 28px);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;

    @include b('mobile') {
      @include grid(1fr 1fr 1fr, 25px, 14px);
    }

    div {
      color: $color-text-secondary;
      cursor: pointer;
      text-align: right;
      transition: color 200ms ease;
      outline: none;

      &:hover {
        color: $color-text-primary;
        transition: color 200ms ease;
      }
    }

    div[data-active='true'] {
      color: $color-text-primary;
    }
  }

  &PriceChange {
    width: 100%;
    text-align: right;
    font-size: 25px;
    line-height: 39px;

    &[data-positive='true'] {
      color: $color-text-green;
    }

    &[data-negative='true'] {
      color: $color-text-red;
    }
  }
}

.containerSettings {
  background: $color-bg-section;
  margin: 21px 0 0 0;
  padding: 20px;
  border-radius: 10px;

  h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    margin: 0;
  }

  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: $color-text-link;
  }

  &Inner {
    @include grid(1fr 2fr 260px, 260px 180px, 50px);

    @include b('1000') {
      @include grid(150px 2fr 260px, 480px 180px, 50px);
    }

    @include b('850') {
      @include grid(1fr, 100px 660px 200px 100px, 10px);
    }
  }

  &Slippage {
    grid-column: 1;
    grid-row: 1;

    @include b('850') {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &Exchanges {
    grid-column: 2;
    grid-row: 1 / 3;

    @include b('850') {
      grid-column: 1;
      grid-row: 2;
    }

    &Top {
      @include flex(row, center, space-between, nowrap);

      &Button,
      &Button:active,
      &Button:focus,
      &Button:hover {
        padding: 0 10px;
        margin: 0;
        font-size: 16px;
        line-height: 25px;
        background: none !important;
        transition: none !important;
        transform: none !important;
      }
    }

    &Inner {
      @include flex(column, normal, normal, wrap);
      height: calc(100% - 40px);

      div {
        margin: 8px 4px;
      }
    }
  }

  &Gas {
    grid-column: 3;
    grid-row: 1 / 3;

    @include b('850') {
      grid-column: 1;
      grid-row: 3;
    }

    &Inner {
      > div {
        margin: 3px 0;
      }
    }
    &CustomAddress {
      margin-top: 16.5px !important;
    }
  }

  &Buttons {
    @include flex(row, flex-end, normal, nowrap);
    width: 100%;
    grid-column: 1;
    grid-row: 2;

    @include b('850') {
      grid-column: 1;
      grid-row: 4;
    }

    &ButtonSelectAll,
    &ButtonSelectAll:focus,
    &ButtonSelectAll:active {
      width: 120px;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      padding: 8px 12px;
      margin: 5px 10px 5px 0;
      background: none !important;
    }

    &Button,
    &Button:focus,
    &Button:active {
      width: 60px;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      padding: 8px 12px;
      margin: 5px 10px 5px 0;
      background: none !important;
    }
  }
}

.containerSettingsSelect {
  &Label {
    @include flex(row, center, space-between);
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
  }

  &Items {
    div {
      @include flex(row, center, space-between);
      height: 55px;
      cursor: pointer;
      background-color: $color-bg-select-item;
      padding: 10px;
      font-weight: 500;
      font-size: 22px;
      line-height: 34px;

      &:hover {
        background-color: $color-bg-select-item-hover;
      }
    }
  }
}

.radioLabelGas {
  @include flex(row, center, space-between, nowrap);
  width: calc(100% - 50px);

  &Inner {
    @include flex(row, center);
  }

  &Input {
    margin: 0 10px;
    input {
      text-align: right;
      outline: none;
      background-color: #40425d;
      padding: 5px 10px;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      border: none;
      border-radius: 4px;
      caret-color: $color-cursor-input;
      color: $color-text-input;
      width: 60px;
      &::placeholder {
        color: $color-text-input-placeholder;
      }
    }
  }
}

.containerTradingModalButton {
  margin: 5px 0;
}

.radioContainer {
  @include flex(row);
  background-color: $color-bg-radio;
  border-radius: 4px;
}

.radioInput {
  display: none;
}

.radioInput:checked ~ .radioLabel .radioPoint::after {
  opacity: 1;
}

.radioLabel {
  @include flex(row, center);
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  cursor: pointer;
  position: relative;
  height: 55px;
}

.radioPoint {
  height: 20px;
  width: 20px;
  background-color: #40425d;
  border-radius: 50%;
  position: relative;
  margin: 10px;
}

.radioPoint::after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: inset 0 0 0 5px $color-bg-radio-point;
  opacity: 0;
  transition: opacity 0.2s;
}

.symbolWide {
  margin-left: -36px;
}

.error {
  margin: 2px 0;
  color: $color-text-error;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  text-align: right;
}

.containerTokenInfo {
  @include flex(row, center, center);
  margin: 40px 0 0 0;
}

.tokenInfo {
  @include grid(32px 2fr 1fr, 54px, 12px);
  background-color: $color-bg-section;
  border-radius: 10px;
  max-width: 400px;
  padding: 20px;
  color: $color-text-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  span {
    color: $color-text-link;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
  }

  .etherscan {
    @include flex(row, center, normal, nowrap);
    align-self: center;

    > svg {
      margin: 0 0 0 5px;
    }
  }
}

.messageContent {
  @include flex(column, center, center, nowrap);
  height: 100%;
}
