@import '../../../scss/theme';
@import '../../../scss/mixins';

.container {
  @include flex(column, center, center, nowrap);

  width: 100%;
  @include b('mobile') {
    padding: 40px 10px 300px 10px;
  }

  &Wrapper {
    margin: 34px 0 200px;
    padding: 30px;
    @include flex(column, center, center, nowrap);
    max-width: 470px;
    background: linear-gradient(180deg, #030D22 74.94%, rgba(3, 13, 34, 0) 100%);
    border-radius: 12px;
  }
}

.CustomAddress {
  position: relative;

  border: $border-form;
  border-radius: 20px;
  grid-column: 1 / 4;

  &Title {
    position: absolute;
    z-index: 2;
    top: -15px;
    left: 50%;

    padding: 0 5px;

    font-size: 16px;
    line-height: 25px;

    color: $color-bg-checkbox;
    background: #07092a;

    transform: translateX(-50%);
  }

  &Input {
    overflow: hidden;

    height: 100%;

    border-radius: 20px;

    input {
      padding: 0 10px;

      height: 100%;

      text-align: center;
    }
  }
}

.containerTitle {
  @include flex(row, center, space-between, nowrap);
  width: 100%;
  min-height: 50px;
  @include b('mobile') {
    padding: 0 10px;
  }

  &First {
    @include flex(row, center, space-between);

    &Item {
      font-size: 14px;
      font-weight: 900;
      line-height: 25px;
      text-transform: uppercase;
      cursor: pointer;

      color: $color-text-secondary;

      transition: color 200ms ease;
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      &:hover {
        color: $color-text-link;

        transition: all 200ms ease;
      }
    }

    &ItemActive {
      font-size: 14px;
      font-weight: 900;
      line-height: 25px;
      text-transform: uppercase;

      cursor: pointer;

      border-bottom: 2px solid $color-text-link;
    }

    & > div {
      margin-right: 30px;
    }
  }

  &Second {
    @include flex(row, center, flex-end);

    &Item {
      &Img {
        padding: 8px;
        background: rgba(5, 26, 56, 1);
        border-radius: 12px;
        cursor: pointer;
        transition: all 250ms ease-in-out;

        &:hover {
          box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.61);
        }
      }
    }
  }

  &Name {
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;

    color: $color-text-link;
  }

  &Price {
    margin: -7px 0 0 0;

    font-size: 50px;
    font-weight: 400;
    line-height: 78px;
  }

  &PriceChange {
    margin: -13px 0 0 0;

    font-size: 20px;
    font-weight: 400;
    line-height: 31px;

    &[data-positive='true'] {
      margin: -13px 0 0 0;

      font-size: 20px;
      font-weight: 400;
      line-height: 31px;

      color: $color-text-green;
    }

    &[data-negative='true'] {
      margin: -13px 0 0 0;

      font-size: 20px;
      font-weight: 400;
      line-height: 31px;

      color: $color-text-red;
    }
  }
}

.containerTrading {
  @include flex(column, center, center, nowrap);
  margin: 15px 0 0 0;

  width: 100%;

  @include b('870') {
    @include grid(repeat(1, 1fr), auto, 0);
  }

  &CardLimitOpen {
    max-height: 205px;
  }

  &Card {
    @include flex(column, flex-start, flex-end, nowrap);
    border-radius: 20px;

    &Inner {
      margin-top: 6px;
      padding: 10px 20px 5px;
      background: $color-bg-input-market;
      border-radius: 12px;
      transition: all 250ms ease-in-out;

      &:hover,
      &:focus,
      &:active {
        box-shadow: 0 0 5px 0.2px rgba(255, 255, 255, 0.55);
      }

      &Name {
        color: $color-text-secondary;
        text-transform: uppercase;
        font-weight: 900;
      }

      &Row {
        @include flex(row, center, space-between, nowrap);
      }
    }

    &Limit {
      margin: -15px 25px 25px 25px;
      padding: 10px;

      background-color: #131637;
      border-radius: 10px;

      &Inner {
        @include grid(1fr 2fr, 1fr, 20px);
        margin: 5px;
      }

      &Label {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;

        color: $color-text-link;
      }

      &Input {

        label {
          @include flex(row, center);
          position: absolute;
          right: 10px;

          height: 100%;

          font-size: 16px;
          font-weight: 400;
          line-height: 25px;

          color: $color-text-secondary;
        }

        input {
          padding: 10px 10px;

          width: 100%;
          height: $height-input-small;

          font-size: 22px;
          font-weight: 500;
          line-height: 34px;

          color: $color-text-input;
          background-color: $color-bg-select-item;
          border: none;
          border-radius: 4px;
          outline: none;
          caret-color: $color-cursor-input;

          &::placeholder {
            color: $color-text-input-placeholder;
          }
        }
      }
    }

    &Label {
      padding: 0 5px;
      @include flex(row, flex-end, space-between, nowrap);
      width: 100%;
      font-size: 16px;
      font-weight: 900;
      line-height: 25px;
      text-transform: uppercase;

      color: $color-text-link;
      background: $color-bg;
    }

    &Image {
      img {
        width: 30px;
        height: 30px;

        background: $color-bg-image;
        border-radius: 12px;
      }
    }

    &Container {
      @include flex(row, center, space-between, nowrap);
    }

    &ContainerInner {
      @include flex(row, center, flex-start, nowrap);
      max-width: fit-content;
    }

    &Search {
      margin: 0 10px;
      @include flex(row, center, normal, nowrap);

      &Name {
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        text-transform: uppercase;
        cursor: pointer;

        color: $color-text-primary;
      }

      &ArrowDown {
        margin: 0 0 0 10px;
        fill: rgba(1, 151, 226, 1);
      }
    }

    &SearchInput {
      padding: 0 10px;
    }

    &SearchItems {
      margin: 10px 0 0 0;
      padding: 0 10px;

      overflow: auto;

      height: 280px;
    }

    &SearchItem {
      @include grid(36px 150px 1fr, 36px, 0);
      margin: 1px 0;
      padding: 14px 10px;

      width: 100%;

      cursor: pointer;

      background: $color-bg-dropdown-item;
      border-radius: 12px;

      &:hover {
        background: $color-bg-dropdown;
      }

      &Image {
        width: 36px;
        height: 36px;

        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
      }

      &First {
        @include flex(column, normal, center, nowrap);
        margin: 0 13px 0 13px;
      }

      &Name {
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;

        color: $color-text-link;
      }

      &Price {
        margin: -5px 0 0 0;

        font-size: 16px;
        font-weight: 400;
        line-height: 25px;

        color: $color-text-secondary;
      }

      &Symbol {
        @include flex(row, center, flex-end);
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;

        color: $color-text-secondary;
      }
    }

    &Symbol {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;

      color: $color-text-secondary;
    }

    &Input {
      margin: 6px 0 0 0;
      @include flex(row, center, flex-end, nowrap);

      input {
        padding: 0 20px;

        width: 100%;
        max-height: 40px !important;
        //height: $height-input-small;

        font-size: 24px;
        line-height: 47px;
        text-align: right;

        color: $color-text-input;
        background: $color-bg-input-market;
        border: none;
        border-radius: 12px;
        outline: none;
        caret-color: $color-cursor-input;

        &::placeholder {
          color: $color-text-input-placeholder;
        }
      }
    }

    &Balance {
      margin: 11px 0 0 0;

      font-size: 16px;
      font-weight: 400;
      line-height: 1.1;
      text-align: right;

      color: $color-text-secondary;

      span {
        margin: 0 0 0 11px;

        font-weight: 600;

        color: $color-text-link;
      }
    }
  }

  &Divider {
    margin: 11px 0 0;
    @include flex(row, center, center);

    @include b('870') {
      @include flex(row, center, flex-end);
      margin: -12px 0;
    }

    &Inner {
      @include flex(row, center, center);
      z-index: 2;

      width: 44px;
      height: 44px;

      cursor: pointer;
      user-select: none;

      background: $color-bg-input-market;
      border-radius: 50%;
      transition: all 250ms ease-in-out;

      &:hover {
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.61);
      }
    }
  }

  &Button {
    margin-top: 30px;
    @include flex(row, center, center);
    grid-column: 1 / 4;

    @include b('870') {
      margin: 30px 0 0 0;
      grid-column: auto;
      grid-row: auto;
    }
  }
}

.containerChart {
  position: relative;

  margin: 30px 0 0 0;

  width: 100%;

  background-color: $color-bg-chart;
  border-radius: 10px;
}

.chart {
  width: 100%;
  height: 254px;
}

.chartWithoutData {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
}

.chartData {
  @include flex(row, center, space-between);
  position: absolute;
  bottom: 0;

  padding: 0 20px 13px 20px;

  width: 100%;

  &PriceName {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    color: $color-text-secondary;
  }

  &Price {
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
  }

  &Period {
    @include grid(1fr 1fr 1fr, 25px, 28px);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    @include b('mobile') {
      @include grid(1fr 1fr 1fr, 25px, 14px);
    }

    div {
      text-align: right;

      cursor: pointer;

      color: $color-text-secondary;
      outline: none;

      transition: color 200ms ease;

      &:hover {
        color: $color-text-primary;

        transition: color 200ms ease;
      }
    }

    div[data-active='true'] {
      color: $color-text-primary;
    }
  }

  &PriceChange {
    width: 100%;

    font-size: 25px;
    line-height: 39px;
    text-align: right;

    &[data-positive='true'] {
      color: $color-text-green;
    }

    &[data-negative='true'] {
      color: $color-text-red;
    }
  }
}

.containerSettings {
  margin: 21px 0 0 0;
  padding: 20px;

  background: $color-bg-section;
  border-radius: 10px;

  h1 {
    margin: 0;

    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;

    color: $color-text-link;
  }

  &Inner {
    @include grid(1fr 2fr 260px, 260px 180px, 50px);

    @include b('1000') {
      @include grid(150px 2fr 260px, 480px 180px, 50px);
    }

    @include b('850') {
      @include grid(1fr, 100px 660px 200px 100px, 10px);
    }
  }

  &Slippage {
    grid-column: 1;
    grid-row: 1;

    @include b('850') {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &Exchanges {
    grid-column: 2;
    grid-row: 1 / 3;

    @include b('850') {
      grid-column: 1;
      grid-row: 2;
    }

    &Top {
      @include flex(row, center, space-between, nowrap);

      &Button,
      &Button:active,
      &Button:focus,
      &Button:hover {
        margin: 0;
        padding: 0 10px;

        font-size: 16px;
        line-height: 25px;

        background: none !important;

        transition: none !important;
        transform: none !important;
      }
    }

    &Inner {
      @include flex(column, normal, normal, wrap);
      height: calc(100% - 40px);

      div {
        margin: 8px 4px;
      }
    }
  }

  &Gas {
    grid-column: 3;
    grid-row: 1 / 3;

    @include b('850') {
      grid-column: 1;
      grid-row: 3;
    }

    &Inner {
      > div {
        margin: 3px 0;
      }
    }

    &CustomAddress {
      margin-top: 16.5px !important;
    }

    &PremiumBadge {
      margin-bottom: 5px;

      display: flex;
      align-items: center;

      font-family: $font;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;

      color: $color-text-span;

      svg {
        margin-right: 6px;
      }
    }
  }

  &Buttons {
    @include flex(row, flex-end, normal, nowrap);
    width: 100%;
    grid-column: 1;
    grid-row: 2;

    @include b('850') {
      grid-column: 1;
      grid-row: 4;
    }

    &ButtonSelectAll,
    &ButtonSelectAll:focus,
    &ButtonSelectAll:active {
      margin: 5px 10px 5px 0;
      padding: 8px 12px;

      width: 120px;

      font-size: 14px;
      font-weight: 500;
      line-height: 26px;

      background: none !important;
    }

    &Button,
    &Button:focus,
    &Button:active {
      margin: 5px 10px 5px 0;
      padding: 8px 12px;

      width: 60px;

      font-size: 14px;
      font-weight: 500;
      line-height: 26px;

      background: none !important;
    }
  }
}

.containerSettingsSelect {
  &Label {
    @include flex(row, center, space-between);
    width: 100%;
    height: 100%;

    font-size: 22px;
    font-weight: 500;
    line-height: 34px;

    cursor: pointer;
  }

  &Items {
    div {
      @include flex(row, center, space-between);
      padding: 10px;

      height: 55px;

      font-size: 22px;
      font-weight: 500;
      line-height: 34px;

      cursor: pointer;

      background-color: $color-bg-select-item;

      &:hover {
        background-color: $color-bg-select-item-hover;
      }
    }
  }
}

.radioLabelGas {
  @include flex(row, center, space-between, nowrap);
  width: calc(100% - 50px);

  &Inner {
    @include flex(row, center);
  }

  &Input {
    margin: 0 10px;

    input {
      padding: 5px 10px;

      width: 60px;

      font-size: 17px;
      font-weight: 500;
      line-height: 26px;
      text-align: right;

      color: $color-text-input;
      background-color: #40425d;
      border: none;
      border-radius: 4px;
      outline: none;
      caret-color: $color-cursor-input;

      &::placeholder {
        color: $color-text-input-placeholder;
      }
    }
  }
}

.containerTradingModalButton {
  margin: 5px 0;
}

.radioContainer {
  @include flex(row);
  background-color: $color-bg-radio;
  border-radius: 4px;
}

.radioInput {
  display: none;
}

.radioInput:checked ~ .radioLabel .radioPoint::after {
  opacity: 1;
}

.radioLabel {
  @include flex(row, center);
  position: relative;

  width: 100%;
  height: 55px;

  font-size: 17px;
  font-weight: 500;
  line-height: 26px;

  cursor: pointer;
}

.radioPoint {
  position: relative;

  margin: 10px;

  width: 20px;
  height: 20px;

  background-color: #40425d;
  border-radius: 50%;
}

.radioPoint::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 10px;

  display: block;

  width: 20px;
  height: 20px;

  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  box-shadow: inset 0 0 0 5px $color-bg-radio-point;

  transition: opacity 0.2s;
  transform: translate(-50%, -50%);
}

.symbolWide {
  margin-left: -36px;
}

.error {
  margin: 2px 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  text-align: right;

  color: $color-text-error;
}

.containerTokenInfo {
  @include flex(row, center, center);
  margin: 40px 0 0 0;
}

.tokenInfo {
  @include grid(32px 2fr 1fr, 54px, 12px);
  padding: 20px;

  max-width: 400px;

  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  color: $color-text-secondary;
  background-color: $color-bg-section;
  border-radius: 10px;

  > img {
    width: 32px;
    height: 32px;

    border-radius: 50%;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;

    color: $color-text-link;
  }

  .etherscan {
    @include flex(row, center, normal, nowrap);
    align-self: center;

    > svg {
      margin: 0 0 0 5px;
    }
  }
}

.messageContent {
  @include flex(column, center, center, nowrap);
  height: 100%;
}
