@import '../../../scss/theme';
@import '../../../scss/mixins';

.container {
  @include flex(column, center, center, nowrap);
  width: 100%;
  @include b('mobile') {
    padding: 0;
  }

  &Wrapper {
    position: relative;

    margin: 34px 0 200px;
    padding: 30px 30px 125px;

    overflow: hidden;

    min-width: 470px;
    max-width: 470px;
    min-height: 739px;
    //box-shadow: 0 -60px 70px 20px rgba(0, 127, 239, 0.35), 0 -60px 80px 20px rgba(0, 227, 182, 0.35);
    background: $color-bg;
    border-radius: 12px;
    @include flex(column, center, flex-start, nowrap);
    @include b('mobile') {
      padding: 10px 10px 125px;

      width: 100%;
      min-width: 300px;
    }

    &Bg {
      height: auto;

      background: linear-gradient(180deg, #030d22 74.94%, rgba(3, 13, 34, 0) 100%);
    }

    &Skeleton {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      width: 100%;

      background: linear-gradient(
        90deg,
        $color-bg 0,
        rgba(255, 255, 255, 0.07) 80px,
        $color-bg 105px
      );

      animation: loading 2s infinite;
    }
  }
}

.CustomAddress {
  width: 100%;
  position: relative;
  margin-top: 24px;

  border-radius: 20px;
  grid-column: 1 / 4;

  &Inner {
    min-height: 80px;
  }

  input {
    background: unset;
    color: white;
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 24px;
    line-height: 47px;
  }

  &Title {
    font-size: 16px;
    line-height: 25px;

    color: $color-bg-checkbox;
    text-transform: uppercase;
    font-weight: bold;
  }
  &Subtitle {
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 7px;
    color: #7c8ba8;
  }

  &Input {
    overflow: hidden;

    height: 100%;

    border-radius: 20px;

    input {
      padding: 0 10px;

      height: 100%;
    }
  }
}

.containerTitle {
  @include flex(row, center, space-between, nowrap);
  width: 100%;
  min-height: 50px;
  @include b('mobile') {
    padding: 0 10px;
  }

  &First {
    @include flex(row, center, space-between);

    &Item {
      font-size: 14px;
      font-weight: 900;
      line-height: 25px;
      text-transform: uppercase;

      cursor: pointer;

      color: $color-text-secondary;
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      transition: color 200ms ease;

      &:hover {
        color: $color-text-link;

        transition: all 200ms ease;
      }
    }

    &ItemActive {
      font-size: 14px;
      font-weight: 900;
      line-height: 25px;
      text-transform: uppercase;

      cursor: pointer;

      border-bottom: 2px solid $color-text-link;
    }

    & > div {
      margin-right: 30px;
    }
  }

  &Second {
    @include flex(row, center, flex-end);

    &Item {
      &Img {
        padding: 8px;

        cursor: pointer;

        background: rgba(5, 26, 56, 1);
        border-radius: 12px;

        transition: all 250ms ease-in-out;

        &:hover {
          box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.61);
        }
      }
    }
  }

  &Name {
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;

    color: $color-text-link;
  }

  &Price {
    margin: -7px 0 0 0;

    font-size: 50px;
    font-weight: 400;
    line-height: 78px;
  }

  //&PriceChange {
  //  margin: 10px 0 0;
  //
  //  font-size: 20px;
  //  font-weight: 400;
  //  line-height: 31px;
  //
  //  &[data-positive='true'] {
  //    margin: -13px 0 0 0;
  //
  //    font-size: 20px;
  //    font-weight: 400;
  //    line-height: 31px;
  //
  //    color: $color-text-green;
  //  }
  //
  //  &[data-negative='true'] {
  //    margin: -13px 0 0 0;
  //
  //    font-size: 20px;
  //    font-weight: 400;
  //    line-height: 31px;
  //
  //    color: $color-text-red;
  //  }
  //}
}

.containerTrading {
  @include flex(column, center, center, nowrap);
  margin: 15px 0 0 0;

  width: 100%;

  @include b('870') {
    @include grid(repeat(1, 1fr), auto, 0);
  }

  &CardLimitOpen {
    max-height: 205px;
  }

  &Card {
    @include flex(column, flex-start, flex-end, nowrap);
    width: 100%;

    border-radius: 20px;

    &Inner {
      margin-top: 6px;
      padding: 10px 20px 5px;

      width: 100%;

      background: $color-bg-input-market;
      border-radius: 12px;

      transition: all 250ms ease-in-out;

      @include flex(column, flex-start, center, nowrap);

      &:hover,
      &:focus,
      &:active {
        box-shadow: 0 0 10px 0.5px rgba(255, 255, 255, 0.55);
      }

      &Name {
        font-weight: 900;
        text-transform: uppercase;

        color: $color-text-secondary;
      }

      &Row {
        @include flex(row, center, space-between, nowrap);
      }

      @include b('mobile') {
        margin: 0 auto;
        max-width: 95vw !important;
      }
    }

    &Limit {
      margin-top: 10px;

      display: grid;

      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

      &Inner {
        padding: 12px 20px;

        max-width: 200px;
        max-height: 80px;

        background: $color-bg-input-market;
        border-radius: 12px;

        transition: all 250ms ease-in-out;

        &Row {
          position: relative;
          @include flex(row, center, flex-start, nowrap);
        }

        &:hover,
        &:focus,
        &:active {
          box-shadow: 0 0 10px 0.5px rgba(255, 255, 255, 0.55);
        }

        @include b('mobile') {
          max-width: 140px;
        }
      }

      &Label {
        font-size: 16px;
        font-weight: 900;
        line-height: 25px;
        white-space: nowrap;
        text-transform: uppercase;

        color: $color-text-secondary;
        background: $color-bg-input-market;
      }

      &Input {
        margin: 0;

        label {
          @include flex(row, center, center, nowrap);
          position: absolute;
          right: 10px;

          height: 100%;

          font-size: 16px;
          font-weight: 400;
          line-height: 25px;

          color: $color-text-secondary;
        }

        input {
          margin: 0;

          padding: 10px 10px 0;

          width: 150px;
          height: 35px;

          font-size: 22px;
          font-weight: 500;
          line-height: 34px;

          color: $color-text-input;
          background: transparent;
          border: none;
          outline: none;
          caret-color: $color-cursor-input;

          @include b('mobile') {
            width: 100%;
          }

          &::placeholder {
            color: $color-text-input-placeholder;
          }
        }
      }
    }

    &Label {
      padding: 0 5px;

      width: 100%;

      font-size: 16px;
      font-weight: 900;
      line-height: 25px;
      text-transform: uppercase;

      color: $color-text-link;
      background: $color-bg;
      @include flex(row, flex-end, space-between, nowrap);
    }

    &Image {
      img {
        width: 30px;
        height: 30px;

        background: $color-bg-image;
        border-radius: 12px;
      }
    }

    &Container {
      @include flex(row, center, space-between, nowrap);

      &Row {
        position: relative;
      }
    }

    &ContainerInner {
      @include flex(row, center, flex-start, nowrap);
      max-width: fit-content;
    }

    &Search {
      position: relative;
      margin: 0 10px;
      @include flex(row, center, normal, nowrap);

      &Name {
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        text-transform: uppercase;

        cursor: pointer;

        color: $color-text-primary;
      }

      &ArrowDown {
        margin: 0 0 0 10px;
        fill: rgba(1, 151, 226, 1);
      }
    }

    &SearchInput {
      margin: 0 auto;
      padding: 14px;

      max-width: 370px;

      background: rgba(5, 26, 56, 1);
      border-radius: 12px;

      @include b('mobile') {
        max-width: 250px;
      }

      @include flex(row, center, space-between, nowrap);

      input {
        margin-left: 20px;
        padding: 0;

        background: transparent;
      }
    }

    &SearchItems {
      margin: 10px 0 0 0;
      padding: 0 10px;

      overflow: auto;

      height: 280px;
    }

    &SearchItem {
      @include grid(36px 150px 1fr, 36px, 0);
      margin: 1px 0;
      padding: 14px 10px;

      width: 100%;

      cursor: pointer;

      //background: $color-bg-dropdown-item;
      border-radius: 12px;

      &:hover {
        background: rgba(5, 26, 56, 1);
      }

      &Image {
        width: 36px;
        height: 36px;

        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
      }

      &First {
        @include flex(column, normal, center, nowrap);
        margin: 0 13px 0 13px;
      }

      &Name {
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;

        color: $color-text-link;
      }

      &Price {
        margin: -5px 0 0 0;

        font-size: 16px;
        font-weight: 400;
        line-height: 25px;

        color: $color-text-secondary;
      }

      &Symbol {
        @include flex(row, center, flex-end);
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;

        color: $color-text-secondary;
      }
    }

    &Symbol {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;

      color: $color-text-secondary;
    }

    &Input {
      @include flex(row, center, flex-end, nowrap);
      @include b('mobile') {
        width: 100%;
        min-width: 150px !important;
        z-index: 15;
      }

      input {
        padding: 0 20px;
        @include b('mobile') {
          padding: 0;
        }

        width: 100%;
        max-height: 40px !important;
        //height: $height-input-small;
        font-size: 24px;
        line-height: 47px;
        text-align: right;

        color: $color-text-input;
        background: $color-bg-input-market;
        border: none;
        border-radius: 12px;
        outline: none;
        caret-color: $color-cursor-input;

        &::placeholder {
          color: $color-text-input-placeholder;
        }
      }
    }

    &Balance {
      margin: 11px 0 0 0;

      @include flex(row, center, center, nowrap);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.1;
      text-align: right;

      color: $color-text-secondary;

      span {
        margin: 0 0 0 11px;

        font-weight: 600;

        color: $color-text-link;
      }

      &Btn {
        margin-left: 5px;
        padding: 0;

        text-transform: uppercase;

        cursor: pointer;

        color: $color-text-link;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        transition: all 250ms ease-in-out;

        &:hover {
          font-weight: 900;

          border-bottom: 1px solid $color-text-link;
        }
      }
    }
  }

  &Divider {
    margin: 11px 0 4px;
    @include flex(row, center, center);

    //@include b('870') {
    //  @include flex(row, center, flex-end);
    //  margin: -12px 0;
    //}
    &Inner {
      @include flex(row, center, center);
      width: 44px;
      height: 44px;

      cursor: pointer;
      user-select: none;

      background: $color-bg-input-market;
      border-radius: 50%;

      transition: all 250ms ease-in-out;

      &:hover {
        box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.61);
      }

      &:active {
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.61);
      }

      &Rotate {
        transform: rotate(180deg);
      }

      &Disable {
        cursor: not-allowed;
      }
    }
  }

  &Button {
    margin-top: 30px;
    @include flex(row, center, center);
    grid-column: 1 / 4;

    @include b('870') {
      margin: 30px 0 0 0;
      grid-column: auto;
      grid-row: auto;
    }

    &Btn {
      padding: 8px;

      width: 202px;
      max-height: 42px;
    }
  }
}

.containerChart {
  position: relative;

  margin: 30px 0 0 0;

  width: 100%;

  background-color: $color-bg-chart;
  border-radius: 10px;
}

.chart {
  width: 100%;
  height: 254px;
}

.chartWithoutData {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
}

.chartData {
  @include flex(row, center, space-between);
  position: absolute;
  bottom: 0;

  padding: 0 20px 13px 20px;

  width: 100%;

  &PriceName {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    color: $color-text-secondary;
  }

  &Price {
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
  }

  &Period {
    @include grid(1fr 1fr 1fr, 25px, 28px);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    @include b('mobile') {
      @include grid(1fr 1fr 1fr, 25px, 14px);
    }

    div {
      text-align: right;

      cursor: pointer;

      color: $color-text-secondary;
      outline: none;

      transition: color 200ms ease;

      &:hover {
        color: $color-text-primary;

        transition: color 200ms ease;
      }
    }

    div[data-active='true'] {
      color: $color-text-primary;
    }
  }

  &PriceChange {
    width: 100%;

    font-size: 25px;
    line-height: 39px;
    text-align: right;

    &[data-positive='true'] {
      color: $color-text-green;
    }

    &[data-negative='true'] {
      color: $color-text-red;
    }
  }
}

.containerSettings {
  //margin: 21px 0 0 0;
  //padding: 20px;

  //background: $color-bg-section;
  //border-radius: 10px;
  width: 100%;

  //h1 {
  //  margin: 0;
  //
  //  font-size: 24px;
  //  font-weight: 400;
  //  line-height: 37px;
  //}
  h2 {
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;

    color: $color-text-link;
  }

  &Wrapper {
    max-height: 20px;

    background: transparent;
  }

  &Inner {
    //@include grid(1fr 2fr 260px, 260px 180px, 50px);
    //
    //@include b('1000') {
    //  @include grid(150px 2fr 260px, 480px 180px, 50px);
    //}
    //
    //@include b('850') {
    //  @include grid(1fr, 100px 660px 200px 100px, 10px);
    //}
    @include flex(column, center, center, nowrap);
  }

  &Slippage {
    width: 100%;
  }

  &Exchanges {
    width: 100%;

    //@include b('850') {
    //  grid-column: 1;
    //  grid-row: 2;
    //}
    &Top {
      @include flex(row, center, space-between, nowrap);

      &Button,
      &Button:active,
      &Button:focus,
      &Button:hover {
        margin: 0;
        padding: 0 10px;

        font-size: 16px;
        line-height: 25px;

        background: none !important;

        transition: none !important;
        transform: none !important;
      }
    }

    &Inner {
      //@include flex(column, normal, normal, wrap);
      //height: calc(100% - 40px);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include b('mobile') {
        grid-template-columns: repeat(2, 1fr);
      }

      div {
        margin: 8px 4px;
      }
    }
  }

  &Gas {
    width: 100%;

    &Inner {
      //background: transparent;
    }

    &CustomAddress {
      margin-top: 16.5px !important;
      padding: 5px 20px;

      background: $color-bg-input-market;
      border-radius: 12px;
      @include flex(row-reverse, center, space-between, nowrap);
    }

    &PremiumBadge {
      padding: 8px;

      @include flex(row, center, center, nowrap);
      font-family: $font;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;

      color: rgba(248, 182, 76, 1);
      border: 1px solid rgba(248, 182, 76, 1);
      border-radius: 12px;

      svg {
        margin-right: 6px;
      }
    }
  }

  &Buttons {
    @include flex(row, flex-end, normal, nowrap);
    width: 100%;
    grid-column: 1;
    grid-row: 2;

    @include b('850') {
      grid-column: 1;
      grid-row: 4;
    }

    &ButtonSelectAll,
    &ButtonSelectAll:focus,
    &ButtonSelectAll:active {
      margin: 5px 10px 5px 0;
      padding: 8px 12px;

      width: 120px;

      font-size: 14px;
      font-weight: 500;
      line-height: 26px;

      background: none !important;
    }

    &Button,
    &Button:focus,
    &Button:active {
      margin: 5px 10px 5px 0;
      padding: 8px 12px;

      width: 60px;

      font-size: 14px;
      font-weight: 500;
      line-height: 26px;

      background: none !important;
    }
  }

  &Back {
    @include flex(row, center, flex-start, nowrap);

    span {
      font-size: 14px;
      font-weight: 900;
      line-height: 22.04px;
      text-transform: uppercase;
    }

    img {
      margin-right: 20px;
      padding: 8px;

      max-width: 40px;
      max-height: 40px;

      cursor: pointer;

      background: $color-bg-input-market;
      border-radius: 12px;

      transition: all 250ms ease-in-out;

      @include flex(row, center, center, nowrap);

      &:hover {
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.61);
      }
    }
  }
}

.containerSettingsSelect {
  &Label {
    margin-top: 15px;
    @include flex(row, center, space-between, nowrap);
    width: 100%;
    height: 100%;

    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    white-space: nowrap;

    cursor: pointer;

    background: $color-bg-input-market;

    &Image {
      margin: 0;
      @include b('mobile') {
        margin-left: 5px;
      }
    }
  }

  &Items {
    div {
      @include flex(row, center, space-between);
      padding: 10px;

      height: 55px;

      font-size: 22px;
      font-weight: 500;
      line-height: 34px;

      cursor: pointer;

      background: $color-bg-input-market;

      &:hover {
        background: $color-bg-input-market;
      }
    }
  }
}

.radioLabelGas {
  @include flex(row, center, space-between, nowrap);
  width: calc(100% - 50px);

  div {
    font-weight: 900;

    &:last-child {
      text-transform: uppercase;

      color: $color-text-secondary;
    }
  }

  &Inner {
    @include flex(row, center);
  }

  &Input {
    margin: 0 10px;

    input {
      padding: 5px 10px;

      width: 94px;

      font-size: 17px;
      font-weight: 500;
      line-height: 26px;
      text-align: center;

      color: $color-text-link;
      background: transparent;
      border: 1px solid $color-bg-checkbox;
      border-radius: 12px;
      outline: none;
      caret-color: $color-cursor-input;

      &::placeholder {
        color: $color-text-input-placeholder;
      }
    }
  }
}

.containerTradingModalButton {
  margin: 5px 0;
  padding: 8px;

  width: 202px;
  height: 42px;
}

.containerCosts {
  margin-top: 30px;
  padding: 20px;

  width: 100%;

  border: 1px solid $color-text-secondary;
  border-radius: 12px;

  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      width: 100%;
      @include flex(row, center, space-between, nowrap);

      span {
        font-size: 16px;
        text-transform: uppercase;

        &:first-child {
          color: $color-text-secondary;
        }
      }

      &:last-child {
        margin-top: 20px;
      }
    }
  }

  &PriceChange {
    margin: 10px 0 0;

    font-size: 20px;
    font-weight: 400;
    line-height: 31px;

    &[data-positive='true'] {
      margin: -13px 0 0 0;

      font-size: 20px;
      font-weight: 400;
      line-height: 31px;

      color: $color-text-green;
    }

    &[data-negative='true'] {
      margin: -13px 0 0 0;

      font-size: 20px;
      font-weight: 400;
      line-height: 31px;

      color: $color-text-red;
    }
  }
}

.radioContainer {
  margin: 4px 0;
  padding-left: 20px;
  @include flex(row, center, center, nowrap);
  background-color: $color-bg-input-market;
  border-radius: 12px;
}

.radioLabel {
  @include flex(row, center);
  position: relative;

  width: 100%;
  height: 55px;

  font-size: 17px;
  font-weight: 500;
  line-height: 26px;

  cursor: pointer;
}

//--------------- GAS PRICE CHECKBOX ----------------
.radioInput {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

.radioInput + label {
  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;

  cursor: pointer;
  user-select: none;

  &::before {
    content: '';

    margin-right: 9px;

    display: inline-block;

    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 1px solid $color-text-link;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.radioInput:checked + label::before {
  background-color: $color-bg-checkbox;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  border-color: $color-bg-checkbox;
}

.radioInput:not(:disabled):not(:checked) + label:hover::before {
  border-color: #fff;
}

.radioInput:not(:disabled):active + label::before {
  background-color: #fff;
  border-color: #fff;
}

.che.radioInputbox:focus:not(:checked) + label::before {
  border-color: #fff;
}

.radioInput:disabled + label::before {
  color: $color-text-secondary;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.1);
}

.disabled {
  color: $color-text-secondary;
}

//--------------- GAS PRICE CHECKBOX ----------------
.symbolWide {
  margin-left: -36px;
}

.error {
  margin: 2px 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  text-align: right;

  color: $color-text-error;
}

.containerTokenInfo {
  @include flex(row, center, center);
  margin: 40px 0 0 0;
}

.tokenInfo {
  @include grid(32px 2fr 1fr, 54px, 12px);
  padding: 20px;

  max-width: 400px;

  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  color: $color-text-secondary;
  background-color: $color-bg-section;
  border-radius: 10px;

  > img {
    width: 32px;
    height: 32px;

    border-radius: 50%;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;

    color: $color-text-link;
  }

  .etherscan {
    @include flex(row, center, normal, nowrap);
    align-self: center;

    > svg {
      margin: 0 0 0 5px;
    }
  }
}

.messageContent {
  @include flex(column, center, center, nowrap);
  height: 100%;
}

// GAS PRICE FOR RADIO VAR
.radioPoint {
  position: relative;

  margin: 10px;

  width: 20px;
  height: 20px;

  //background-color: #40425d;
  border: 1px solid $color-text-link;
  border-radius: 50%;
}

.radioPoint::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 10px;

  display: block;

  width: 20px;
  height: 20px;

  background-color: $color-text-link;
  border-radius: 50%;
  opacity: 0;
  //box-shadow: inset 0 0 0 5px $color-bg-radio-point;
  transition: opacity 0.2s;
  transform: translate(-50%, -50%);
}

// GAS PRICE FOR RADIO VAR

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
