@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.container {
  @include flex(column, center, normal, nowrap);
  width: 100%;

  text-align: left;

  @include b('mobile') {
    padding-bottom: 70px;
    position: fixed;
    z-index: 1000;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(7, 9, 42, 1);
    overflow: auto;
    @include flex(column, center, flex-start, nowrap);
  }
}

.header {
  @include flex(row, center, space-between, nowrap);
  margin: -10px -10px 0 -10px;
  padding: 0;

  width: calc(100% + 20px);
  height: $height-header;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image-source: $color-border-header;
  border-image-slice: 1;

  @include b('mobile') {
    height: $height-header-mobile;
    max-width: 300px;
  }
}

.logo {
  padding: 20px;

  width: 110px;
  height: 33px;
}

.buttonClose {
  padding: 20px;
}

.buttonBack {
  padding: 5px;
  @include b('mobile') {
    padding: 0 0 0 10px;
    margin: 0;
  }
  width: 100%;
  //width: 100px;

  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;

  cursor: pointer;

  color: $color-text-link;
  border-radius: 12px;

  transition: all 250ms ease-in-out;

  @include flex(row, center, flex-start, nowrap);

  svg {
    margin: 0 3px 0 0;
  }

  @include b('mobile') {
    margin: 20px 10px 0 10px;
  }

  &:hover {
    box-shadow: 0 0 7px 3px rgba(1, 151, 226, 0.6);
  }
}

.title {
  //margin: 3px 10px 0 10px;

  width: 100%;

  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  @include b('mobile') {
    padding: 0 10px;
    width: 100%;
    text-align: left;
  }

  span {
    margin: 0 7px 0 7px;

    font-weight: 600;

    color: $color-text-link;
  }
}

.label {
  margin: 10px 0 5px 20px;

  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;

  color: $color-text-link;
}

.section {
  @include grid(58px 1fr, 1fr, 20px);
  padding: 11px 15px;
  width: 100%;

  @include b('mobile') {
    max-width: 300px;
  }

  background: $color-bg-input-market;
  //background: $color-bg-section;
  border-radius: 20px;

  img {
    width: 58px;
    height: 58px;
    justify-self: center;
    align-self: center;
  }
}

.tokenName {
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;

  color: $color-text-link;
}

.tokenPrice {
  margin: -5px 0 0 0;

  overflow: hidden;

  max-width: 200px;

  font-size: 30px;
  font-weight: 500;
  line-height: 47px;
  text-overflow: ellipsis;
}

.tokenBalance {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  color: $color-text-secondary;

  span {
    margin: 0 0 0 5px;

    font-weight: 600;

    color: $color-text-link;
  }
}

.messageBestPrice {
  @include flex(column, center);
  margin: 20px 0 0 0;

  width: 100%;

  > div {
    width: 200px;

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

    > span {
      font-weight: 700;

      color: $color-text-link;
    }
  }
}

.containerButton {
  margin: 17px 0 10px 0;
  width: 100%;

  @include b('mobile') {
    margin: 0 auto;
    padding: 0;
    min-width: 300px;
  }

  &Submit {
    text-align: center;
    width: 100%;
    @include b('mobile') {
      max-width: 300px;
    }
  }
}

.labelSecondary {
  margin: 15px 0 0 0;

  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;

  color: $color-text-secondary;
}

.divider {
  margin: 15px 0 0 0;

  width: 100%;
  height: 1px;

  background: $color-border-header;
}

.containerRate {
  @include flex(row, center, flex-start, normal);
  @include b('mobile') {
    @include flex(row, center, center, nowrap);
  }
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  ul {
    margin: 5px 0;
    padding: 0;

    list-style: none;
    @include flex(row, center, flex-start, nowrap);

    li {
      @include flex(row, center, flex-start, nowrap);
      white-space: nowrap;

      div {
        margin-right: 10px;

        overflow: hidden !important;

        width: 90px !important;

        text-overflow: ellipsis;
        @include b('mobile') {
          width: 50px !important;
        }
      }
    }
  }

  svg {
    margin: 0 24px;
  }
}

.containerFee {
  @include flex(row, center, space-between);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  > span {
    color: $color-text-link;
  }
}

.containerYouSave {
  @include flex(row, center, space-between);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  > span {
    color: $color-text-span-green;
  }
}
