@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.container {
  @include flex(column, normal, normal, nowrap);
  width: 100%;

  text-align: left;
}

.header {
  @include flex(row, center, space-between, nowrap);
  margin: -10px -10px 0 -10px;
  padding: 0;

  width: calc(100% + 20px);
  height: $height-header;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image-source: $color-border-header;
  border-image-slice: 1;

  @include b('mobile') {
    height: $height-header-mobile;
  }
}

.logo {
  padding: 20px;

  width: 110px;
  height: 33px;
}

.buttonClose {
  padding: 20px;
}

.buttonBack {
  @include flex(row, center);
  margin: 0 10px;

  width: 100px;

  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;

  cursor: pointer;

  color: $color-text-link;

  svg {
    margin: 0 3px 0 0;
  }

  @include b('mobile') {
    margin: 20px 10px 0 10px;
  }
}

.title {
  margin: 3px 10px 0 10px;

  width: 250px;

  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;

  span {
    margin: 0 7px 0 7px;

    font-weight: 600;

    color: $color-text-link;
  }
}

.label {
  margin: 10px 0 5px 20px;

  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;

  color: $color-text-link;
}

.section {
  @include grid(58px 1fr, 1fr, 20px);
  padding: 11px 25px;

  background: $color-bg-section;
  border-radius: 20px;

  img {
    width: 58px;
    height: 58px;
    justify-self: center;
    align-self: center;
  }
}

.tokenName {
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;

  color: $color-text-link;
}

.tokenPrice {
  margin: -5px 0 0 0;

  font-size: 30px;
  font-weight: 500;
  line-height: 47px;
}

.tokenBalance {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  color: $color-text-secondary;

  span {
    margin: 0 0 0 5px;

    font-weight: 600;

    color: $color-text-link;
  }
}

.messageBestPrice {
  @include flex(column, center);
  margin: 20px 0 0 0;

  width: 100%;

  > div {
    width: 200px;

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

    > span {
      font-weight: 700;

      color: $color-text-link;
    }
  }
}

.containerButton {
  margin: 17px 0 10px 0;
}

.labelSecondary {
  margin: 15px 0 0 0;

  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;

  color: $color-text-secondary;
}

.divider {
  margin: 15px 0 0 0;

  width: 100%;
  height: 1px;

  background: $color-border-header;
}

.containerRate {
  @include flex(row, center, normal);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  svg {
    margin: 0 24px;
  }
}

.containerFee {
  @include flex(row, center, space-between);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  > span {
    color: $color-text-link;
  }
}

.containerYouSave {
  @include flex(row, center, space-between);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  > span {
    color: $color-text-span-green;
  }
}
