@import '../../scss/theme';
@import '../../scss/mixins';

.modalOpen {
  @include flex(column, center, center);
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;

  transition: opacity 0.3s;
}

.modalClosed {
  @include flex(column, center, center);
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;

  transition: opacity 0.3s;
}

.modalContainer {
  @include flex(column, center, normal, nowrap);
  position: relative;

  margin: 10px;
  padding: 20px 30px;

  overflow: auto;

  min-width: 300px;
  max-width: 600px;
  min-height: 150px;
  max-height: 100vh;

  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: $color-text-primary;
  background-color: $color-bg;
  border: $border-form;
  border-radius: 20px;

  @include b('mobile') {
    margin: 0;
    padding: 20px 10px;

    width: 100%;
  }
}

.modalContainerFullPage {
  position: absolute;

  margin: 0;
  padding: 10px 30px;

  width: 100%;

  border: none;
  border-radius: 0;

  @include b('mobile') {
    margin: 0;
    padding: 10px;

    width: 100%;
  }
}

.modalImage {
  width: 40px;
  height: 40px;
}

.modalHeader {
  @include flex(row, center, center);
  padding: 0;

  width: calc(100% - 46px);
  width: 100%;

  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px;

  width: 20px;
  height: 20px;

  cursor: pointer;
}
