@import '../../../../scss/theme';
@import '../../../../scss/mixins';

.tooltipApr {
  max-width: 246px;
}

.line {
  @include flexbox(space-between);
}

.container {
  &:not(:last-child) {
    margin-bottom: spacing(1);
  }
}

.divider {
  border-color: $color-gray-100;
}
