@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.containerInput {
  @include flex(column);
  position: relative;

  margin: 5px auto;

  box-sizing: border-box;
  width: 100%;
  max-width: 547px;

  background-color: $color-bg-input;
  border: $border-input;
  border-radius: 24px;
  box-shadow: 0 15px 20px 0 rgba(1, 151, 226, 0.4), 0 -10px 10px 0 rgba(1, 151, 226, 0.4);

  &Inner {
    @include flex(row, center);
    width: 100%;
    height: 100%;
  }

  &Input {
    width: 100%;
  }

  &Open {
    @include flex(column);
    position: relative;

    margin: 5px 0 0 0;

    box-sizing: border-box;
    width: 100%;

    background-color: $color-bg-input;
    border: $border-input;
    border-bottom: $border-input-dropdown;
    border-radius: 20px 20px 0 0;
  }
}

.input {
  padding: 10px 20px 10px 57px;

  box-sizing: border-box;
  width: 100%;
  height: $height-input;

  font-size: 22px;
  line-height: 34px;

  color: $color-text-input;
  background: $color-bg-input;
  border: none;
  border-radius: 20px;
  outline: none;
  caret-color: $color-cursor-input;

  &::placeholder {
    color: $color-text-input-placeholder;
  }

  @include b('mobile') {
    height: $height-input-small;

    font-size: 16px;
  }
}

.inputBig {
  padding: 3px 20px 20px 20px;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-size: 30px;
  font-weight: 600;
  line-height: 34px;

  color: $color-text-input;
  background-color: $color-bg-input;
  border: none;
  border-radius: 0;
  outline: none;
  caret-color: $color-cursor-input;

  &::placeholder {
    color: $color-text-input-placeholder;
  }
}

.inputMedium {
  padding: 0 5px 0 20px;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-size: 30px;
  font-weight: 600;
  line-height: 62px;

  color: $color-text-input;
  background-color: $color-bg-input;
  border: none;
  border-radius: 0;
  outline: none;
  caret-color: $color-cursor-input;

  &::placeholder {
    color: $color-text-input-placeholder;
  }
}

.label {
  @include flex(row, center, space-between);
  position: absolute;

  padding: 4px 6px;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;

  pointer-events: none;

  color: $color-text-input;
  border-radius: 0;

  &Inner {
    position: absolute;
    top: 0;

    height: $height-input;

    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;

    color: $color-text-input;
  }
}

.error {
  background-color: $color-bg-error;
}

.dropdown {
  position: absolute;
  z-index: 2;
  top: $height-input;
  left: -2px;

  width: calc(100% + 4px);

  background: $color-bg-input;
  border-top: $border-input-dropdown;
  border-left: $border-input;
  border-right: $border-input;
  border-bottom: $border-input;
  border-radius: 0 0 20px 20px;
  @include b('mobile') {
    top: $height-input-small;
  }
}

.dropdownInner {
  margin: 0 0 15px 0;

  overflow: auto;

  max-height: 380px;
}
