@import "../../scss/theme.scss";
@import "../../scss/mixins.scss";

.containerInput {
  @include flex(column);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: $color-bg-input;
  margin: 5px 0 0 0;
  border: $border-input;
  border-radius: 20px;

  &Inner {
    @include flex(row,center);
    width: 100%;
    height: 100%;
  }

  &Input {
    width: 100%;
  }

  &Open {
    @include flex(column);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: $color-bg-input;
    margin: 5px 0 0 0;
    border: $border-input;
    border-bottom: $border-input-dropdown;
    border-radius: 20px 20px 0 0;
  }
}

.input {
  height: $height-input;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background-color: $color-bg-input;
  padding: 10px 20px 10px 57px;
  font-size: 22px;
  line-height: 34px;
  border: none;
  border-radius: 20px;
  caret-color: $color-cursor-input;
  color: $color-text-input;
  &::placeholder {
    color: $color-text-input-placeholder;
  }
  @include b('mobile') {
    height: $height-input-small;
    font-size: 16px;
  }
}

.inputBig {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: $color-bg-input;
  padding: 3px 20px 20px 20px;
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  caret-color: $color-cursor-input;
  color: $color-text-input;
  &::placeholder {
    color: $color-text-input-placeholder;
  }
}

.inputMedium {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: $color-bg-input;
  padding: 0 5px 0 20px;
  font-size: 30px;
  line-height: 62px;
  font-weight: 600;
  caret-color: $color-cursor-input;
  color: $color-text-input;
  &::placeholder {
    color: $color-text-input-placeholder;
  }
}

.label {
  @include flex(row,center,space-between);
  position: absolute;
  padding: 4px 6px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-text-input;
  pointer-events: none;

  &Inner {
    position: absolute;
    top: 0;
    height: $height-input;
    color: $color-text-input;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.error {
  background-color: $color-bg-error;
}

.dropdown {
  position: absolute;
  left: -2px;
  width: calc(100% + 4px);
  top: $height-input;
  background: $color-bg-input;
  border-top: $border-input-dropdown;
  border-right: $border-input;
  border-bottom: $border-input;
  border-left: $border-input;
  border-radius: 0 0 20px 20px;
  z-index: 2;
  @include b('mobile'){
    top: $height-input-small;
  }
}

.dropdownInner {
  margin: 0 0 15px 0;
  max-height: 380px;
  overflow: auto;
}
