@import '../../../../scss/theme';
@import '../../../../scss/mixins';

.container {
  width: 100%;
  max-width: 1270px;
  padding: 120px 20px 200px;
  overflow: hidden;
}

.section {
  @include flexbox(space-between, unset);
  flex-wrap: wrap;
}

.infoContainer {
  flex: 1;
  padding: 24px;
  background: $color-dark-blue;
  border-radius: 16px;
  border: 1px solid $color-blue;

  transition: 200ms;

  &:not(:last-child) {
    margin-right: spacing(3);
  }

  &Icons {
    position: relative;
    display: flex;
    width: 54px;
    height: 54px;
  }

  &Icon {
    width: 54px;
    height: 54px;
  }

  &Header {
    margin-top: spacing(3);

    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
  }

  &Body {
    margin: 0;
    padding: 0;
    margin-top: spacing(1);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

.pairedToken {
  position: absolute;
  left: spacing(4.75);
}

.compounderToken {
  position: absolute;
  bottom: -20%;
  right: -15%;
  width: 50%;
  height: 50%;
}

@include b('mobile') {
  .container {}

  .section {
    flex-direction: column;
  }

  .infoContainer {
    flex: 1;
    min-height: 300px;
    background: $color-dark-blue;
    border-radius: 16px;
    border: 1px solid $color-blue;
    padding: 24px;
    transition: 200ms;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: spacing(3);
    }
  }
}
