@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

$fs: 16px;

.header {
  @include flex(row, center, center, nowrap);
  position: sticky;
  //position: fixed;
  z-index: 999;
  top: 0;

  //padding-top: 12px;
  //padding-bottom: 11px;
  width: 100%;
  height: $height-header;

  font-family: $font;
  font-size: $fs;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  user-select: none;

  color: $color-text-header;
  background: $color-bg;

  transition: top 0.4s;
  //background-color: $color-bg-header;
  //border-bottom: 1px solid $color-border-header-end;
  //border-bottom-style: solid;
  //border-image-source: $color-border-header;
  //border-image-slice: 1;
  @include b('mobile') {
    padding: 0;

    height: $height-header-mobile;
  }

  &Container {
    position: relative;

    width: 100%;
    max-width: 1270px;
    height: $height-header;

    background: $color-bg-header;
    @include flex(row, center, space-between, nowrap);
    @include b('mobile') {
      padding: 0;

      height: 69px;
    }
  }

  &Wrapper {
    position: absolute;
    bottom: 0;

    width: 100%;
    max-width: 1270px;
    height: 1px;

    background: $color-border-header;
    opacity: 0.4;
  }

  &LeftGroup {
    @include flex(row, center, center, nowrap);
    padding: 0 20px;

    height: $height-header;
    @include b('mobile') {
      padding: 0 2vw;
    }
  }

  &RightGroup {
    @include flex(row, center, center, nowrap);
    padding: 0 2vw;

    height: $height-header;
  }

  &Item {
    @include flex(row, center, center);
    font-size: $fs;

    cursor: pointer;

    border-radius: 5px;

    @include b('mobile') {
      padding: 8px 25px;

      width: 100%;
    }

    a {
      padding: 20px 25px;

      width: 100%;

      font-size: $fs;
      text-align: center;
      text-decoration: none;

      color: $color-text-header;

      transition: color 200ms ease;
    }

    &Btn {
      @include flex(row, center);
      margin: 0 25px;
      padding: 10px;

      font-size: 14px;
      font-weight: 500;

      cursor: pointer;

      color: #fff;
      background: $color-text-wc;
      border-radius: 10px;

      transition: all 250ms ease-in-out;

      a {
        color: #fff;
      }

      &:hover {
        font-weight: 700;

        box-shadow: 0 0 7px 3px rgba(1, 151, 226, 0.6);
      }
    }

    &Active {
      color: $color-text-link !important;
    }
  }

  &Item:hover {
    @include flex(row, center, center);
    font-size: $fs;

    cursor: pointer;

    border-radius: 5px;

    @include b('mobile') {
      padding: 8px 25px;

      width: 100%;
    }

    a {
      padding: 20px 25px;

      color: $color-text-link;

      transition: color 200ms ease;
    }
  }

  &ItemArrow {
    margin-left: 6px;

    opacity: 0.4;
  }

  &Logo {
    height: $height-header - 40px;
    @include b('mobile') {
      margin-top: 10px;
    }
  }

  &TierBadge {
    margin-left: 18px;
    padding: 6px;

    font-family: $font;
    font-size: 14px;

    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;

    color: rgba(139, 139, 139, 1);
    border: 1px solid #d6d6d6;
    border-radius: 12px;
  }

  &MenuMobileClosed {
    display: none;
  }

  &MenuMobileOpen {
    @include flex(column, center, flex-start, nowrap);
    position: fixed;
    top: $height-header - 14px;
    left: 0;

    padding: 0 30px 120px 30px;

    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    background-color: $color-bg;
    flex-grow: 0;
  }
}

.headerMenuBtn {
  z-index: 1000;

  cursor: pointer;

  &Wrapper {
    @include flex(column, center, center);
    padding: 0 28px;

    height: 60px;

    font-size: $fs;

    cursor: pointer;
    user-select: none;

    outline: none;
  }

  &Open {
    background-color: transparent;
  }
}

.headerMenu {
  &Footer {
    @include flex(column, center, space-around);
    position: absolute;
    z-index: 997;
    left: 0;
    bottom: 100px;

    margin-top: 30px;

    box-sizing: border-box;
    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    user-select: none;
    @include b('mobile') {
      z-index: 997;
      bottom: $height-header - 10px;

      line-height: 20px;
    }

    &LogoGroup {
      @include flex(row, center, center);
    }

    &Logo {
      margin: 0 14px;

      cursor: pointer;
    }

    &Copyright {
      letter-spacing: normal;
      text-transform: none;

      color: $color-text-secondary;

      a {
        text-decoration: none;

        color: $color-text-link;
      }
    }
  }
}

.headerDropdown {
  position: absolute;
  z-index: 1000000;
  top: $height-header - 22px;
  right: 25px;

  padding: 0;

  width: 410px;

  min-width: 370px;

  background: $color-bg-dropdown-wc;
  border: 2px solid $color-border-bottom-span;
  border-radius: 20px;

  @include b('mobile') {
    margin-top: 256px;

    width: calc(100vw - 40px);
  }

  &Inner {
    padding: 18px 30px 40px 30px;

    min-height: 580px;

    @include b('mobile') {
      padding: 18px 20px 10px 20px;

      min-height: 400px;
    }
  }

  &Item {
    @include flex(row, center, space-between, nowrap);
    padding: 10px 0;

    cursor: pointer;

    @include b('mobile') {
      padding: 5px 0;
    }

    span {
      cursor: auto;
    }

    svg {
      margin: 0 10px 0 0;
    }
  }

  &ItemLabel {
    margin: 10px 0 0 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    color: $color-text-secondary;
  }

  &ItemTokensList {
    margin: 0 -10px 10px 0;
    padding: 0;

    overflow: auto;

    max-height: 300px;

    @include b('mobile') {
      max-height: 20vh;
    }
  }

  &ItemTokens {
    @include flex(row, center, center);
    padding: 20px;

    min-height: 100px;

    background: $color-bg-input-small;
    border-radius: 4px;
  }

  &ItemToken {
    @include grid(38px 1fr, 1fr, 20px);
    margin: 10px 0;
    padding: 20px;

    min-height: 78px;

    background: $color-bg-input-small;
    border-radius: 4px;

    @include b('mobile') {
      @include grid(38px 1fr, 1fr, 10px);
      padding: 10px;

      min-height: 48px;
    }
  }

  &ItemTokenImageWrap {
    @include flex(row, center, center);
  }

  &ItemTokenImage {
    width: 38px;
    height: 38px;

    border-radius: 50%;
  }

  &ItemTokenSymbol {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;

    color: $color-text-secondary;

    @include b('mobile') {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &ItemTokenBalance {
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;

    color: $color-text-primary;

    @include b('mobile') {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.headerWalletLogo {
  margin: 0 10px 0 0;

  width: 18px;
  height: 18px;
  filter: brightness(0.7);
}

.dropdownMobile {
  position: absolute;
  z-index: 99999;
  top: 120px;

  margin: 10px;
  padding: 16px;

  height: 58vh;

  background: $color-bg-dropdown;
  border: 3px solid rgba(1, 151, 226, 0.5);
  border-radius: 10px;
}
