@import "../../scss/theme.scss";
@import "../../scss/mixins.scss";

$fs: 16px;
$height: 83px;

.header {
  @include flex(row,center,center,nowrap);
  font-family: $font;
  position: fixed;
  left: 0;
  width: 100%;
  height: $height;
  background-color: $color-bg-header;
  z-index: 999;
  user-select: none;
  color: $color-text-header;
  padding-top: 12px;
  padding-bottom: 11px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: $fs;
  border-bottom: $border-header;
  &Container {
    @include flex(row,center,space-between,nowrap);
    height: $height;
    width: 100%;
    max-width: 1270px;
  }
  &LeftGroup {
    @include flex(row,center,center,nowrap);
    height: $height;
    padding: 0 20px;
    @include b('mobile') {
      padding: 0 2vw;
    }
  }
  &RightGroup {
    @include flex(row,center,center,nowrap);
    height: $height;
    padding: 0 2vw;
    @include b('mobile') {
      display:none;
    }
  }
  &Item {
    @include flex(row,center,center);
    cursor: pointer;
    padding: 20px 25px;
    font-size: $fs;
    border-radius: 5px;
    a {
      font-size: $fs;
      text-decoration: none;
      color: $color-text-header;
    }
  }
  &Item:hover {
    @include flex(row,center,center);
    cursor: pointer;
    padding: 20px 25px;
    font-size: $fs;
    border-radius: 5px;
    color: $color-text-header;
    text-decoration: underline;
  }
  &ItemArrow {
    margin-left: 6px;
    opacity: 0.4;
  }
  &Logo {
    height: $height - 40px;
  }
  &MenuMobileClosed {
    display:none;
  }
  &MenuMobileOpen {
    @include flex(column,center,flex-start);
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: $height;
    padding: 0 30px 120px 30px;
    flex-grow: 0;
    background-color: $color-bg-header;
  }
}

.headerMenuBtn {
  cursor: pointer;
  z-index: 1000;
  &Wrapper {
    @include flex(column,center,center);
    padding: 0 28px;
    height: 60px;
    cursor: pointer;
    user-select: none;
    font-size: $fs;
    outline: none;
  }
  &Open {
    background-color: transparent;
  }
}

.headerMenu {
  &Footer {
    @include flex(column,center,space-around);
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 60px;
    padding: 20px 10px;
    margin-top: 30px;
    width: 100%;
    height: 160px;
    z-index: 997;
    font-size: 15px;
    user-select: none;
    &LogoGroup {
      @include flex(row,center,center);
    }
    &Logo {
      cursor: pointer;
      margin: 0 10px;
    }
    &Copyright {
      text-transform: none;
      letter-spacing: normal;
      color: $color-text-secondary;
      a {
        color: $color-text-link;
        text-decoration: none;
      }
    }
  }
}

