@import '../../scss/theme';
@import '../../scss/mixins';

.container {
  max-width: 1100px;
  padding: 10px;
  width: 100%;
}

.containerTitle {
  padding: 120px 0 0;
  @include b('mobile') {
    padding: 60px 0 0;
  }
  h1 {
    max-width: 800px;
    text-align: center;
    margin: 16px auto 40px;
  }
}

.containerButtons {
  @include flex(row, normal, space-between, wrap);
  margin: 50px -10px 0 -10px;

  &Item {
    // display: grid;
    // grid-template-columns: 120px 1fr;
    // align-items: center;
    @include flex(row, center, center, nowrap);
    box-sizing: border-box;
    max-width: 48%;
    width: 100%;
    margin: 10px;
    min-height: 90px;
    border: 2px solid $color-border-login-item;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;

    @include b('mobile') {
      max-width: 100%;
      min-height: 100px;
    }

    &:hover {
      background-color: $color-bg-login-item-hover;
    }

    &:active,
    &:focus {
      transform: scale(0.98);
    }

    img {
      max-width: 40px;
      margin-right: 15px;
    }

    span {
      font-weight: normal;
      font-size: 20px;
      color: $color-text-primary;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      font-weight: normal;
      padding-left: 10px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        td {
          background: #30335533;
        }
      }

      td {
        color: $color-text-primary;
        padding-left: 10px;
        padding: 12px 0 12px 10px;

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          color: #01c9c5;

          img {
            margin-right: 10px;
            width: 14px;
            height: 15px;
          }
        }
      }
    }
  }
}

.ExploreTable {
  width: 100%;
  margin-top: 50px;

  &Active {
    color: $color-text-link;
    font-weight: bold !important;
  }

  &Down {
    color: red !important;

    img {
      transform: rotate(180deg);
    }
  }
}
