@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.container {
  @include flex(row);
}

.checkbox {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;

  cursor: pointer;
  user-select: none;

  &::before {
    content: '';

    margin-right: 9px;

    display: inline-block;

    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: 4px;
    outline: 1px solid #adb5bd;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.checkbox:checked + label::before {
  background: url('../../assets/icons/checked-checkbox.svg') center;
  background-size: cover;
  outline: none;
}

.checkbox:not(:disabled):not(:checked) + label:hover::before {
  outline: 1px solid #adb5bd;
}

.checkbox:not(:disabled):active + label::before {
  background-color: #fff;
  border-color: #fff;
}

.checkbox:focus:not(:checked) + label::before {
  border-color: #fff;
}

.checkbox:disabled + label::before {
  color: $color-text-secondary;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.1);
}

.disabled {
  color: $color-text-secondary;
}
