@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.container {
  @include flex(row);
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;
  &::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #adb5bd;
    border-radius: 4px;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}
.checkbox:checked+label::before {
  border-color: $color-bg-checkbox;
  background-color: $color-bg-checkbox;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #ffffff;
}
.checkbox:not(:disabled):active+label::before {
  background-color: #ffffff;
  border-color: #ffffff;
}
//.checkbox:focus+label::before {
//  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//}
.checkbox:focus:not(:checked)+label::before {
  border-color: #ffffff;
}
.checkbox:disabled+label::before {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.1);
  color: $color-text-secondary;
}

.disabled {
  color: $color-text-secondary;
}
