@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.container {
  @include flex(row);
}

.checkbox {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;

  cursor: pointer;
  user-select: none;

  &::before {
    content: '';

    margin-right: 9px;

    display: inline-block;

    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 2px solid #adb5bd;
    border-radius: 4px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.checkbox:checked + label::before {
  background: $color-text-wc;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  border-color: $color-bg-checkbox;
}

.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #fff;
}

.checkbox:not(:disabled):active + label::before {
  background-color: #fff;
  border-color: #fff;
}

//.checkbox:focus+label::before {
//  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//}
.checkbox:focus:not(:checked) + label::before {
  border-color: #fff;
}

.checkbox:disabled + label::before {
  color: $color-text-secondary;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.1);
}

.disabled {
  color: $color-text-secondary;
}
