@import '../../../../scss/theme';
@import '../../../../scss/mixins';

.container {
  padding: 10px 10px 0;
  @include flexbox(space-between);
  border-bottom: 1px solid $color-gray;
}

.bannerLogicContainer {
  max-width: 350px;

  & > *:not(:last-child) {
    margin-bottom: 24px;
  }
}

.h1 {
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  padding: 0;
  margin: 0;
  color: $color-green;
}

.h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0em;
  padding: 0;
  margin: 0;
}

.buttonContainer {
  @include flexbox(space-between);
  & > * {
    padding: 0;
    width: 156px;
    height: 44px;
    font-size: 16px;
  }
}

.gear {
  width: 60%;
}

@include b(mobile) {
  .container {
    flex-direction: column;
  }

  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 32px;
  }

  .gear {
    width: 100%;
  }

  .buttonContainer {
    & > * {
      width: 130px;
      height: 40px;
      font-size: 14px;
    }
  }
}