@import "../../scss/theme.scss";
@import "../../scss/mixins.scss";

.footer {
  @include flex(column, center, space-around);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 10px;
  margin-top: 30px;
  width: 100%;
  z-index: 997;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: $color-bg;
  user-select: none;
  color: $color-text-secondary;

  &LogoGroup {
    @include flex(row, center, center, wrap);
  }

  &Logo {
    cursor: pointer;
    width: 18px;
    height: 100%;
    margin: 0px 14px;
  }
}



