@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.footer {
  @include flex(column, center, space-around);
  position: absolute;
  z-index: 997;
  left: 0;
  bottom: 0;

  margin-top: 30px;
  padding: 20px 10px;

  box-sizing: border-box;
  width: 100%;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  user-select: none;

  color: $color-text-secondary;
  background: transparent;

  &LogoGroup {
    @include flex(row, center, center, wrap);
  }

  &Logo {
    margin: 0 14px;

    width: 18px;
    height: 100%;

    cursor: pointer;
  }
}
