@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.button {
  //@include flex(row, center, center);
  //margin: 0 12px 0 0;
  //padding: 0 10px;
  //
  //height: 46px;
  //
  //font-family: $font2;
  //font-size: 14px;
  //line-height: 26px;
  //letter-spacing: 0.04em;
  //
  //cursor: pointer;
  //
  //color: $color-text-primary;
  //background: $color-bg-button;
  //border-radius: 12px;
  //outline: none;

}

.containerInput {
  //margin: 40px 0 0 0;
}

.labelInput {
  @include flex(row, center, flex-end);
  padding: 0 0 0 10px;

  width: 57px;
  height: $height-input;
  @include b('mobile') {
    margin-left: -16px;

    height: $height-input-small;
  }
}

.dropdownSearch {
  @include flex(column);
  z-index: 2;

  margin: 5px 0;

  width: 100%;

  font-family: $font2;
}

.dropdownSearchItem {
  @include flex(row, center);
  margin: 5px 10px;
  padding: 0 10px;

  width: calc(100% - 20px);
  height: 63px;

  color: $color-text-primary;
  border-radius: 12px;

  &:hover {
    cursor: pointer;

    background: $color-bg-dropdown-item;
  }

  &Empty {
    @include flex(column, center, center);
    height: 145px;

    font-size: 20px;
    line-height: 31px;
  }

  &Image {
    width: 36px;
    height: 36px;

    background: #fff;
    border-radius: 50%;
  }

  &Name {
    margin: 0 0 0 13px;

    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
  }

  &Symbol {
    margin: 0 0 0 9px;

    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

    opacity: 0.5;
  }
}

.label {
  position: absolute;
  right: 32px;
  top: 25px;
  @include b('tablet') {
    top: 16px;
    right: 7px;
  }

  pointer-events: auto;
}
