@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.button {
  @include flex(row, center, center);
  outline: none;
  background: $color-bg-button;
  cursor: pointer;
  height: 46px;
  padding: 0 10px;
  border-radius: 12px;
  color: $color-text-primary;
  font-family: $font2;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.04em;
  margin: 0 12px 0 0;
}

.containerInput {
  margin: 40px 0 0 0;
}

.labelInput {
  @include flex(row,center,center);
  height: $height-input;
  width: 57px;
  padding: 0 0 0 10px;
}

.dropdownSearch {
  @include flex(column);
  width: 100%;
  font-family: $font2;
  margin: 5px 0;
  z-index: 2;
}

.dropdownSearchItem {
  @include flex(row, center);
  height: 63px;
  width: calc(100% - 20px);
  margin: 5px 10px;
  padding: 0 10px;
  border-radius: 12px;
  color: $color-text-primary;

  &:hover {
    background: $color-bg-dropdown-item;
    cursor: pointer;
  }

  &Empty {
    @include flex(column, center, center);
    height: 145px;
    font-size: 20px;
    line-height: 31px;
  }

  &Image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
  }

  &Name {
    margin: 0 0 0 13px;
    font-size: 20px;
    line-height: 31px;
    font-weight: 500;
  }

  &Symbol {
    margin: 0 0 0 9px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    opacity: 0.5;
  }
}

.label {
  position: absolute;
  right: 0;
  pointer-events: auto;
}
