@import '../../scss/theme';
@import '../../scss/mixins';

.container {
  padding: 10px;

  max-width: 1270px;
  padding: 120px 20px;
}

@include b('mobile') {
  .container {
    padding: 60px 0 120px;
  }
}
