@import '../../scss/theme';
@import '../../scss/mixins';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-image: url('../../assets/images/bg-bottom.svg');
  //background-image: url('../../assets/images/bg-with-shadow.png');
  background-repeat: no-repeat;
  background-position: bottom;
  //background-size: cover;
  @include flex(row, center, center, nowrap);

  .container {
    padding: 0 30px 400px 30px;

    width: 100%;
    max-width: 1000px;
    height: 100%;
    @include b('mobile') {
      padding: 70px 20px 200px 20px;
    }
  }

  .containerTitle {
    padding-top: 100px;
    @include flex(column, center, center, nowrap);
    @include b('mobile') {
      padding: 0;
      width: 100%;
      //@include flex(row, center, center, nowrap);
    }

    h1 {
      //max-width: 563px;
      font-size: 35px;
      font-weight: 400;
      line-height: 70px;
      text-align: center;

      @include b('mobile') {
        margin-top: 40px;
        font-size: 26px;
        line-height: 132.9%;
      }

      strong {
        font-weight: 400;
        color: $color-text-span;
      }
    }
  }

  .containerLists {
    @include grid(repeat(2, 1fr), 0);
    margin: 30px 0 0 0;
    grid-gap: 20px;

    @include b('mobile') {
      @include grid(repeat(1, 1fr));
      margin: 10px 0 0 0;
    }
  }

  .cardList {
    @include flex(row, center, center);
    min-width: 200px;
    height: 92px;

    font-size: 20px;
    line-height: 31px;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;

    color: $color-text-primary;
    border-radius: 12px;
    border: $border-card;

    //transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s, background-color 0.4s ease;
    flex-grow: 1;
    flex-shrink: 1;

    &:hover {
      background: $color-bg-card;
      //background-color: $color-bg-login-item-hover;
    }

    @include b('mobile') {
      height: 60px;
    }

    &Image {
      margin: 0 15px;

      width: 38px;
      height: 38px;
    }
  }

  .button {
    @include flex(row, center, center);
    margin: 0 12px 0 0;
    padding: 0 10px;

    height: 46px;

    font-family: $font2;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.04em;

    cursor: pointer;

    color: $color-text-primary;
    background: $color-bg-button;
    border-radius: 12px;
    outline: none;
  }

  .card {
    position: relative;

    padding: 20px;

    overflow: hidden;

    min-width: 320px;
    height: 145px;

    font-size: 16px;
    text-decoration: none;

    cursor: pointer;

    color: $color-text-primary;
    background: transparent;

    border-radius: 20px;
    border: $border-card;
    flex-basis: 320px;
    flex-shrink: 1;
    flex-grow: 1;

    @include b('mobile') {
      padding: 20px;

      min-width: 280px;
    }

    &Hover {
      &:hover {
        background: $color-bg-card;
      }
    }

    &Container {
      @include flex(row, flex-start, space-between, nowrap);

      &First {
        @include flex(column);

        @include b('mobile') {
          @include flex(column, normal, center);
        }
      }

      &Second {
        @include flex(column, flex-end);

        @include b('mobile') {
          @include flex(column, flex-end);
        }
      }
    }

    &Symbol {
      z-index: 1;

      font-size: 16px;
      line-height: 31px;

      @include b('mobile') {
        z-index: 1;

        font-size: 16px;
        line-height: 25px;

        opacity: 0.5;
      }
    }

    &Price {
      margin-bottom: 15px;

      font-size: 25px;
      font-weight: bold;

      @include b('mobile') {
        font-size: 30px;
        line-height: 44px;
      }
    }

    &PriceChange {
      margin: 3px 0 0 0;

      font-size: 16px;
      font-weight: 600;
      line-height: 31px;

      @include b('mobile') {
        font-size: 16px;
        line-height: 25px;
      }

      &Plus {
        font-size: 16px;
        font-weight: 600;
        line-height: 31px;

        color: $color-text-green;

        @include b('mobile') {
          font-size: 16px;
          line-height: 25px;
        }
      }

      &Minus {
        font-size: 16px;
        font-weight: 600;
        line-height: 31px;

        color: $color-text-red;

        @include b('mobile') {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }

    &Image {
      width: 36px;
      height: 36px;

      border-radius: 12px;
      //opacity: 0.3;
      //-webkit-filter: grayscale(1) brightness(1.1);
      //filter: grayscale(1) brightness(1.1);
    }
  }

  .containerCards {
    @include grid(repeat(2, 1fr), 1fr, 20px);
    margin: 40px auto 0;

    @include b('tablet') {
      @include grid(repeat(2, 1fr), 1fr, 20px);
      margin: 40px 80px 0 80px;
    }

    @include b('mobile') {
      @include grid(repeat(1, 1fr), 1fr);
      margin: 40px 0 0 0;
    }
  }
}

//@keyframes loading {
//  0% {
//    transform: translateX(-100%);
//  }
//
//  100% {
//    transform: translateX(100%);
//  }
//}
