@import './scss/theme.scss';
@import './scss/mixins.scss';
@import 'react-loading-skeleton/dist/skeleton.css';


$height-header: 83px;

* {
  box-sizing: border-box;

  outline: none;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  @include b(mobile) {
    width: 4px;
  }
}

*::-webkit-scrollbar-track {
  background-color: $color-scrollbar-bg;
  @include b(mobile) {
    background-color: initial;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar;
  border-radius: 4px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;

  background: $color-bg;
}

input,
textarea {
  font-family: $font2;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

img,
svg {
  box-sizing: content-box;
}

img:not([src]) {
  visibility: hidden;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 101%;
  @include b('mobile') {
    font-size: 36px;
  }
}

a {
  text-decoration: none;

  color: $color-text-link;
}

.App {
  position: relative;
}

.app-version {
  @include flex(row, center, center, nowrap);
  position: absolute;
  top: $height-header;

  width: 100%;

  text-align: right;

  &-text {
    padding: 8px 30px 0 30px;

    width: 100%;
    max-width: 1060px;

    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;

    color: $color-text-secondary;
  }
}

.container-App {
  @include flex(column, center, normal, nowrap);
  //padding: $height-header 0 0 0;
  min-height: 100vh;

  color: $color-text-bright;
  background: $color-bg;
}

.checkbox {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;

  user-select: none;

  &::before {
    content: '';

    margin-right: 9px;

    display: inline-block;

    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 2px solid #adb5bd;
    border-radius: 4px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.checkbox:checked + label::before {
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  border-color: #0b76ef;
}

.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #fff;
}

.checkbox:not(:disabled):active + label::before {
  background-color: #fff;
  border-color: #fff;
}

//.checkbox:focus+label::before {
//  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//}
.checkbox:focus:not(:checked) + label::before {
  border-color: #fff;
}

.checkbox:disabled + label::before {
  background-color: #e9ecef;
}
