@import '../../scss/theme';
@import '../../scss/mixins';

.marketWrapper {
  position: relative;
  z-index: 1;
  width: 100%;

  background-image: url('../../assets/images/bg-market.svg');
  background-repeat: no-repeat;
  background-position: top;
  //background-size: cover;
  @include flex(row, center, center, nowrap);

  //@include b('mobile') {
  //  background-position: center;
  //}
}

.container {
  padding-top: 120px;

  width: 100%;
  max-width: 1060px;
  height: 100%;
  min-height: 100vh;
}
