@import '../../scss/theme';
@import '../../scss/mixins';

.marketWrapper {
  width: 100%;

  background-image: url('../../assets/images/bg-market.svg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  @include flex(row, center, center, nowrap);
}

.container {
  width: 100%;
  max-width: 1060px;
  height: 100%;
  min-height: 100vh;
}
