$font: 'Baloo 2', normal;
$font2: 'Baloo 2', normal;

// ============================================
// colors
$color-green: #00E4D6;
$color-blue: #2D98F5;
$color-blue-01: rgba(45, 152, 245, 0.1);
$color-dark-blue: #021C3C;
$color-gray: #303849;
$color-black-new: #030D22;
$color-gray-100: #7C8BA8;
$color-gray-200: #364963;
$color-white-semi-80: rgba(white, 0.8);

// background
$color-bg: rgba(3, 13, 34, 1);
//$color-bg: #07092a;
$color-bg-section: #212443;
$color-bg-header: linear-gradient(180deg, $color-black-new 0%, rgba(3, 13, 34, 0) 195.12%);
//$color-bg-header: #07092a;
$color-bg-footer: #07092a;
$color-bg-error: #c88a38;
$color-bg-input: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
  linear-gradient(0deg, #0f2043, #0f2043);
//$color-bg-input: #07092a;
$color-bg-input-small: #212443;
$color-bg-item-token: rgba(255, 255, 255, 0.1);
$color-bg-pagination: #07092a;
$color-bg-image: rgba(255, 255, 255, 0.15);
$color-bg-select: #2c2d4b;
$color-bg-select-item: #2c2d4b;
$color-bg-select-item-hover: #212443;
$color-bg-checkbox: #0197e2;
$color-bg-radio: #2c2d4b;
$color-bg-radio-point: #0197e2;
$color-bg-chart: #212443;
$color-bg-dropdown-wc: rgba(7, 9, 42, 1);
$color-bg-dropdown: rgba(9, 35, 73, 1);
//$color-bg-dropdown: #07092a;
$color-bg-dropdown-item: #212443;
$color-bg-button: #0197e2;
$color-bg-input-market: rgba(5, 26, 56, 1);
$color-bg-card: linear-gradient(180deg, #183775 0%, rgba(15, 32, 67, 0) 100%);
//$color-bg-card: rgba(1, 151, 226, 0.3);
$color-bg-button-primary: linear-gradient(322.71deg, #007fef 16.86%, #00e3b6 95.37%), #0197e2;
$color-bg-button-primary-hover: #0197e2;
$color-bg-button-secondary: #0197e2;
$color-bg-button-secondary-hover: #70bde3;
$color-bg-button-normal: transparent;
$color-bg-login-item-hover: #0197e23d;
$color-bg-card-market: linear-gradient(180deg, $color-black-new 74.94%, rgba(3, 13, 34, 0) 100%);
$color-boxsh-bg1: rgba(0, 227, 182, 0.3);
$color-boxsh-bg2: rgba(0, 127, 239, 0.4);

$color-bg-tooltip: $color-black-new;

// text
$color-text-primary: #fff;
$color-text-secondary: rgba(255, 255, 255, 0.5);
$color-text-bright: #fff;
$color-text-link: #0197e2;
$color-text-wc: linear-gradient(294.07deg, #0278df 41.96%, #6bffc1 117.07%);
$color-text-span: #0197e2;
$color-text-span-green: #00e3b6;

$color-text-header: #fff;
$color-text-footer: #fff;
$color-text-input: #fff;
$color-text-input-placeholder: rgba(255, 255, 255, 0.5);
$color-text-green: #01c6c7;
$color-text-red: #b94825;
$color-text-error: #b94825;
$color-text-button-normal: rgba(255, 255, 255, 0.5);
// scrollbar
$color-scrollbar: rgba(1, 151, 226, 0.3);
$color-scrollbar-bg: #07092a;
//
$color-gradient-button-start: rgba(208, 208, 208, 1);
$color-gradient-button-end: rgba(208, 208, 208, 1);
$color-gradient-button: linear-gradient(
  90deg,
  $color-gradient-button-start 0,
  $color-gradient-button-start 7px,
  $color-gradient-button-end 7px,
  $color-gradient-button-end 100%
);
$color-gradient-header-start: rgba(255, 255, 255, 0);
$color-gradient-header-end: rgba(255, 255, 255, 1);
$color-gradient-header: linear-gradient(
  0deg,
  $color-gradient-header-start 0%,
  $color-gradient-header-end 100%
);
// border
$color-border-header-start: rgba(255, 255, 255, 0);
$color-border-header-end: rgba(255, 255, 255, 0.25);
$color-border-header: linear-gradient(
  270deg,
  rgba(255, 255, 255, 0) 0%,
  #fff 25%,
  rgba(255, 255, 255, 0) 100%
);

//$color-border-header: linear-gradient(
//    90deg,
//    $color-border-header-start 0%,
//    $color-border-header-end 100%
//);
$color-border-login-item: #0197e238;
$color-border-account-menu-item: #303355;
$color-border-bottom-span: #0197e2;

$color-border-tooltip: $color-gray-100;

// others
$color-cursor-input: #fff;
$color-chart-line: #01c9c5;
$color-chart-line-vertical: rgba(255, 255, 255, 0.3);

// ============================================
// borders

$border-header: 1px solid $color-border-header;
$border-input: 2px solid rgba(1, 151, 226, 1);
//$border-input: 2px solid rgba(1, 151, 226, 0.5);
$border-pagination: 2px solid rgba(1, 151, 226, 0.5);
$border-input-dropdown: 1px solid rgba(1, 151, 226, 0.5);
$border-card: 2px solid rgba(32, 48, 84, 0.74);
$border-tab: 2px solid #203054;
$border-form: 3px solid rgba(1, 151, 226, 0.5);

// ============================================
// shadows

$color-shadow-menu: #0197e2;
$shadow-container: 0 4px 60px rgba(0, 0, 0, 0.05);
$shadow-dropdown: 0 8px 15px rgba(0, 0, 0, 0.15);
$shadow-menu: 0 4px 40px $color-shadow-menu;
$shadow-border: 0 0 0 1px lightgrey inset;

// ============================================
// dimentions

$height-input: 76px;
$height-input-small: 55px;
$height-header: 83px;
$height-header-mobile: 69px;

@import './components/tooltip';
