$font: 'Baloo 2', normal;
$font2: 'Baloo 2', normal;

// ============================================
// colors

// background
$color-bg: #07092A;
$color-bg-header: #07092A;
$color-bg-footer: #07092A;
$color-bg-error: #c88a38;
$color-bg-input: #07092A;
$color-bg-input-small: #212443;
$color-bg-dropdown-item: #212443;
$color-bg-button: #0197E2;
$color-bg-card: rgba(1, 151, 226, 0.3);
$color-bg-button-primary: linear-gradient(322.71deg, #007FEF 16.86%, #00E3B6 95.37%), #0197E2;
// text
$color-text-primary: #fff;
$color-text-secondary: rgba(255, 255, 255, 0.5);
$color-text-bright: #fff;
$color-text-link: #0197E2;
$color-text-span: #0197E2;
$color-text-header: #fff;
$color-text-footer: #fff;
$color-text-input: #fff;
$color-text-input-placeholder: rgba(255, 255, 255, 0.5);
$color-text-green: #01C6C7;
$color-text-red: #B94825;
// scrollbar
$color-scrollbar: rgba(1, 151, 226, 0.3);
$color-scrollbar-bg: #203054;
//
$color-gradient-button-start: rgba(208, 208, 208, 1);
$color-gradient-button-end: rgba(208, 208, 208, 1);
$color-gradient-button: linear-gradient(
    90deg,
    $color-gradient-button-start 0px,
    $color-gradient-button-start 7px,
    $color-gradient-button-end 7px,
    $color-gradient-button-end 100%
);
$color-gradient-header-start: rgba(255, 255, 255, 0);
$color-gradient-header-end: rgba(255, 255, 255, 1);
$color-gradient-header: linear-gradient(
    0deg,
    $color-gradient-header-start 0%,
    $color-gradient-header-end 100%
);
// border
$color-border-header-start: rgba(255, 255, 255, 0);
$color-border-header-end: rgba(255, 255, 255, 0.25);
$color-border-header: linear-gradient(
    90deg,
    $color-border-header-start 0%,
    $color-border-header-end 100%
);
// others
$color-cursor-input: #fff;

// ============================================
// borders

$border-header: 1px solid $color-border-header;
$border-input: 2px solid rgba(1, 151, 226, 0.5);
$border-input-dropdown: 1px solid rgba(1, 151, 226, 0.5);
$border-card: 2px solid #203054;
$border-tab: 2px solid #203054;
$border-form: 3px solid rgba(1, 151, 226, 0.5);

// ============================================
// shadows

$color-shadow-menu: #0197E2;
$shadow-container: 0px 4px 60px rgba(0, 0, 0, 0.05);
$shadow-dropdown: 0px 8px 15px rgba(0, 0, 0, 0.15);
$shadow-menu: 0 4px 40px $color-shadow-menu;
$shadow-border: 0 0 0 1px lightgrey inset;


// ============================================
// dimentions

$height-input: 70px;
$height-input-small: 55px;
$height-header: 83px;
